[2015-10-06 18:58] jhgg opened #5 "Implement Remaining Utilities"
In https://github.com/graphql/graphql-js/tree/master/src/utilities

## Porting Guide
* https://github.com/graphql/graphql-js/tree/master/src/utilities -> `graphql/core/utils/(util_name).py`
* https://github.com/graphql/graphql-js/tree/master/src/utilities/__tests__ -> `tests/core_utils/test_(util_name).py`

## Remaining utilities.

- [x] `TypeInfo`
- [x] `astFromValue` #1
- [x] `buildASTSchema`
-

[2015-10-06 19:00] jhgg opened #6 "[RFC] Make operation name optional."
https://github.com/graphql/graphql-js/commit/56f0b39911101400e462def6880f90d1117f242c

I'm working on this.

[2015-10-06 19:01] jhgg opened #7 "[RFC] Type condition optional on inline fragments."
https://github.com/graphql/graphql-js/commit/3f1f9f5759704ca9ed153c98558236a66af75153

I'm working on this.

[2015-10-06 19:04] syrusakbary commented on #5
I will help you here soon!
We should create a branch for this ;)

[2015-10-06 19:04] jhgg opened #8 "Implement Type Validation"
See: https://github.com/dittos/graphqllib/issues/8

Finish up what was started there so we can have type validation working.

[2015-10-06 19:07] gabriel-laet commented on #5
I started a PR related to `instrospectionQuery` here: https://github.com/dittos/graphqllib/pull/70

[2015-10-06 19:08] jhgg commented on #5
I don't think it will merge cleanly as we moved utils around in #1.

[2015-10-06 19:12] jhgg opened #9 "Implement `astToDict` Utility"
Since we use slotted classes for ASTs, we need a way to convert an AST `Node` to a Dict.

I.e. `Name(value='test')` Should get converted to `{"kind": "Name", "value": "test"}`.

It should convert recursively.

[2015-10-06 19:19] syrusakbary commented on #9
`Node.to_dict()` perhaps?

[2015-10-06 21:06] #9 closed

[2015-10-06 21:23] jhgg commented on #7
Closed by 6eae1f5475b7110ca4fbbe5f23eebc7ae3d66e15

[2015-10-06 21:23] #7 closed

[2015-10-06 21:41] #6 closed

[2015-10-06 22:15] jhgg commented on #5
`valueFromAst` was implemented (by finding it) in `values.py` on 55dcd92d079a2a6ed886f1c3e9e7b7d68b0b0e3b.

[2015-10-06 22:22] jhgg opened #10 "Implement missing `executor` tests"
Looks like we're missing some tests:  https://github.com/graphql/graphql-js/tree/master/src/execution/__tests__

And some stuff is not-to-spec. Going to look through this and finish implementation of all the tests that I can.

[2015-10-07 03:21] jhgg opened #11 "Implement Schema Parser"
In graphql-js, the schema parser was merged into the regular parser. We have yet to implement the schema parser yet though.

https://github.com/graphql/graphql-js/commit/73b4d4d301a232ebdd790bb3cf1042e3a67a8fca

I'm probably going to put this in v0.2 milestone.

[2015-10-07 20:18] jhgg opened #13 "Use `six` instead of `graphql.core.compat`"
As of #12 we have six installed now. Let's use it.

[2015-10-07 20:25] #11 closed

[2015-10-07 21:19] jhgg commented on #5
@gabriel-laet - I ported your PR.

[2015-10-07 22:02] jhgg opened #14 "Documentation & GH Pages"
## We need documentation!
@woodb set up sphinx docs in https://github.com/dittos/graphqllib/pull/15 however not much has been written yet.

If anyone wants to help write docs, that'd be really awesome. Most of the API mirrors that of `graphql-js`, however, with some pretty important differences in how the `Executor` is ran, and how Types are defined.

@syrusakbary, I saw you were working on gh-pag

[2015-10-07 22:09] woodb commented on #14
Hey @jhgg, I didn't have a preference for where they might be hosted, so I didn't set anything up like that in dittos/graphqllib#5

I have been falling behind on keeping up with the Slack channel, is this a fork of `graphqllib` that expects to be merged back in, or is this the future of the project?

[2015-10-07 22:11] #13 closed

[2015-10-07 22:14] jhgg commented on #14
My intent is for this repo to supersede `graphqllib`. I've been reaching out to @dittos but haven't gotten a response yet. But for now, the show must go on!

[2015-10-07 22:15] woodb commented on #14
Agreed! I also like the idea of it being under the umbrella of an organization, hopefully more Python GraphQL libraries/projects will join in, too!

[2015-10-07 22:18] jhgg commented on #14
Thanks! In this case I'll edit this issue to be the one for actually documenting things.

[2015-10-08 01:20] syrusakbary commented on #14
@jhgg I've bought a domain for graphene, tomorrow I'll do the "big opening" for it.
Is managed by Jekyll, as is quite easy for creating new content. However, having both Sphinx docs and Jekyll generated pages makes also sense.
We could put some graphql-core pages on it, or we can create a custom gh-pages for this repo.
Either way I can help for using common styling between pages ;)

[2015-10-08 02:00] gabriel-laet commented on #5
@jhgg Great! I will try to tackle one of the remaining items on this list tomorrow.

[2015-10-08 02:08] jhgg commented on #5
Awesome thanks! Post here when you start. I had planned to ko the rest of these as well tomorrow. Don't wanna duplicate any effort!

[2015-10-08 15:40] jhgg commented on #5
Working on `buildASTSchema` and `buildClientSchema`

[2015-10-08 18:10] jnak commented on #14
Yay! Very excited by this initiative!

[2015-10-09 06:45] syrusakbary opened #18 "GraphQL result doesn't preserve fields query order"
When querying a GraphQL schema, the GraphQL result doesn't preserve fields query order.

Based on this Gist:
https://gist.github.com/syrusakbary/d116212d3a1f688519c2

[2015-10-09 06:50] syrusakbary commented on #18
It seems to be fixed in latest version by the following PR https://github.com/graphql-python/graphql-core/pull/15
Closing issue.

[2015-10-09 13:56] jhgg commented on #18
@syrusakbary, I wouldn't be too sure about that! The effects you are seeing/testing for https://github.com/graphql-python/graphql-relay-py/commit/aafe5c34319102a26ae08b394d22777fce1d880f is purely coincidential. I have not implemented any ordering guarantees for the fields in the results.

The only ordering guarantee I have made is that:
a) When fields are defined in an `GraphQLObjectType`, `Graph

[2015-10-09 16:55] jhgg commented on #18
As far as the specification goes, the responses should have no order:

https://facebook.github.io/graphql/#sec-Objects

This would mean that the tests in https://github.com/graphql-python/graphql-relay-py/commit/aafe5c34319102a26ae08b394d22777fce1d880f are wrong.

I'm going to go ahead and close this issue again @syrusakbary. I would recommend reverting that commit. As it's testing for behavior th

[2015-10-09 16:55] #18 closed

[2015-10-09 18:08] syrusakbary commented on #18
I check both orders (not just one kind) and seems to work well.

[2015-10-09 18:54] jhgg opened #19 "Option for strict key ordering in results."
Related to #18, sometimes users might want their results to be in the same order as they are in the fields. In this case, I am thinking that it should be an optional argument (default False) to the `Executor`.

In the default, it will use regular `dict` objects to store results. But if say `enforce_strict_ordering=True` is passed to the Executor, then we will use `OrderedDict` instead.

[2015-10-09 19:42] syrusakbary commented on #19
What about instead of `enforce_strict_ordering` arg, one that says `map_type=dict` and we can init the executor if we want strict ordering with `map_type=OrderedDict`?
Maybe the last one (`map_type`) will be more flexible... thoughts?

[2015-10-09 19:42] jhgg commented on #19
I was thinking that is going to be the way to go.

[2015-10-09 19:43] jhgg commented on #19
But the only issue is that there are some places where we need to signify that strict ordering is needed. For example, `collect_fields` will need to take OrderedDict instead of Dict, but that collected value is never returned as a result. Thus my concern with exposing the direct `map_type` to the API.

[2015-10-09 19:45] jhgg commented on #19
I can always check to see if map_type is an instance of `OrderedDict`.

[2015-10-09 19:53] syrusakbary commented on #19
You mean in here https://github.com/graphql-python/graphql-core/blob/master/graphql/core/execution/executor.py#L85 right?

Maybe creating a wrapper around the map for allowing to have default values?
Or it might be not worth the effort... you decide! :wink:

[2015-10-09 20:27] #19 closed

[2015-10-09 21:03] syrusakbary commented on #19
Awesome work! :+1:

[2015-10-12 08:49] miracle2k opened #21 "Unicode support"
I scalars.py, this line:

    def coerce_string(value):
        if isinstance(value, bool):
            return 'true' if value else 'false'
        return unicode(value)

If the input value of a mutation is a unicode string, I get a decode error. A simple fix, ``unicode(value)`` handles this for me.

[2015-10-12 09:39] miracle2k opened #22 "Missing input values"
https://github.com/graphql-python/graphql-core/blob/master/graphql/core/execution/values.py#L131

This line will through a key error if an input values is not provided. I believe to match the reference implementation, it would have to be:

     values.get(field_name)

[2015-10-12 15:13] jhgg commented on #22
Hey. Can you provide code to repro the case where this happens, so we can put it in as a unittest?

Thanks!

[2015-10-12 15:14] jhgg commented on #21
Hey. Can you provide code to repro the case where this happens, so we can put it in as a unittest?

Thanks!

[2015-10-12 20:54] jhgg commented on #8
The type validation is done. Now I just have to finish writing the unit tests to go with them.

[2015-10-13 03:59] syrusakbary commented on #21
I think the "If the input value of a mutation is a unicode string" is the test case ;)

[2015-10-13 04:59] jhgg commented on #21
It shouldn't though. Which is why I'm wondering what's causing the error.

[2015-10-13 15:31] jhgg opened #23 "Implement outstanding tests"
This issue is just a check-list of outstanding tests I need to implement.

If you plan to help, please comment before starting work on any of these tests so we don't do the same work at the same time. If there's a name by the checkbox, that person is working on implementing those tests.

## Type Tests
- [X] @jhgg https://github.com/graphql/graphql-js/blob/master/src/type/__tests__/definition.js
-

[2015-10-13 15:32] jhgg commented on #10
#23 outlines what needs to be done. Closing this issue in favor of that one.

[2015-10-13 15:32] #10 closed

[2015-10-13 22:29] #8 closed

[2015-10-14 20:47] syrusakbary opened #24 "Add Decimal Type"
We have `GraphQLFloat` and `GraphQLInt`, as Python also have the native implementation of a `Decimal`, would be great if we can add the type `GraphQLDecimal`.

[2015-10-14 22:08] jhgg commented on #24
This should not be built into graphql-core.
I would recommend simply implementing your own scalar decimal type.

[code]

[2015-10-14 22:08] #24 closed

[2015-10-16 15:49] jhgg commented on #5
All utilities + tests have been implementing.

[2015-10-16 15:49] #5 closed

[2015-10-16 19:11] #22 closed

[2015-10-16 19:11] jhgg commented on #22
While working on the Variable unit test cases, I found a test case that reliably replicated this issue.

[2015-10-16 21:04] syrusakbary commented on #22
:+1:

[2015-10-16 21:23] #21 closed

[2015-10-16 21:27] jhgg opened #25 "Sort `fields`, `args` and `values` in GraphQLObjectType, GraphQLInputObjectType and GraphQLEnumValue if they are not an ordered dict."
Schema should sort these if they are not ordered dicts. Python doesn't guarantee a consistent ordering for keys in a dict. If we provide a dict that doesn't guarantee it, when inserting them into the `OrderedDict` we are going to sort these values.

[2015-10-16 21:44] #25 closed

[2015-10-17 15:44] rawls238 commented on #23
wow this is great work @jhgg. Is there anything else we need to do to reach feature-parity with graphql-js?

[2015-10-17 17:05] jhgg commented on #23
Nope. I just am working on finishing up the remaining executor tests. And we are good. It's done. Now to test and see where I messed up.

[2015-10-17 17:08] jhgg commented on #23
@rawls238 you can read the release notes here for the current status: https://github.com/graphql-python/graphql-core/releases/tag/v0.4.7b0

[2015-10-17 17:23] jhgg commented on #23
I could use some help with documenting things tho.

[2015-10-25 20:41] jhgg opened #26 "Implement [RFC] Additional optional arguments"
https://github.com/graphql/graphql-js/commit/08ffd091b78c594d92d308970f986cd9258f0596

[2015-10-25 20:42] jhgg opened #27 "Add `subscription` to executor"
https://github.com/graphql/graphql-js/commit/39a2ebc0803ef5324912f194e0ad0e45debc6930

[2015-10-28 16:04] faassen opened #28 "GraphQLArgument with default_value None"
In wsgi_graphql at https://github.com/faassen/wsgi_graphql I have tests in the test suite when I update to graphql-core. These are caused by the handling of default_value. If you omit `default_value` (which I do in test_wsgi_graphql.TestSchema) it is set to `None`. This now causes error messages in `graphql-core`, which
weren't there in `graphqllib` before, and it doesn't seem to be right in gener

[2015-10-28 16:12] jhgg commented on #28
What error message?

[2015-10-28 16:12] faassen commented on #28
So I get things back like this:

[code]
Instead of the expected:

[code]

[2015-10-28 16:12] jhgg commented on #28
Can you paste the full code?

[2015-10-28 16:13] faassen commented on #28
[code]

is the schema involved.

[2015-10-28 16:14] faassen commented on #28
The query is for `{test}`.

[2015-10-28 16:18] faassen commented on #28
Oops, `default_value` is missing in the schema, I posted the wrong test schema.

[2015-10-28 16:39] jhgg commented on #28
This behavior is working as intended. When `default_value` is set to `None` or omitted (which sets it to `None`), the value should not appear in the `args` dict.

https://github.com/graphql-python/graphql-core/commit/55dcd92d079a2a6ed886f1c3e9e7b7d68b0b0e3b
https://github.com/graphql/graphql-js/blob/master/src/execution/__tests__/executor.js#L626

If you're expecting a defaultValue of `None` use `

[2015-10-28 16:39] #28 closed

[2015-10-28 17:46] syrusakbary commented on #28
@jhgg I think we should be able to have a default value to None, which is different than `undefined`.
The only thing we have to do in the `graphql-core` repo is:
[code]
wherever this is implemented

[2015-10-28 18:05] jhgg commented on #28
`undefined` can never be a default value, even in `graphql-js`. https://github.com/graphql/graphql-js/blob/master/src/type/definition.js#L421

[2015-10-28 18:18] syrusakbary commented on #28
I'm not saying set to undefined, which is impossible in Python (unless we create the undefined type :P)
I'm saying instead of doing `args.get(blablabla)` we should do the logic I posted before ;)

[2015-11-05 23:35] syrusakbary opened #29 "Protect against malicious queries"
The Scala implementation of GraphQL (Sangria) provides a way for being protected against malicious queries.

More info: https://github.com/sangria-graphql/sangria-website/blob/gh-pages/learn.md#protection-against-malicious-queries

Could be very useful if the executor could support the following:
- Maximum query complexity based on analysis of the query
- Limit query depth

[2015-11-15 04:01] jhgg opened #30 "Implement Validator Optimizations"
Various validation optimizations have landed in `graphql-js`. I need to implement these.

[2015-11-17 19:52] #26 closed

[2015-11-17 19:53] jhgg commented on #27
Closed with:
https://github.com/graphql-python/graphql-core/commit/68b8ad5e00083a995889096746c5e49fc48983f6
https://github.com/graphql-python/graphql-core/commit/00b69c9df184c4440fd323803300f8b4854732dc

[2015-11-17 19:53] #27 closed

[2015-11-17 19:54] #23 closed

[2015-11-17 20:10] jhgg opened #32 "Implement `concatAST` utility"
https://github.com/graphql/graphql-js/commit/3a6b4d130f225c275cba3027245ffaff0f4b7799

[2015-11-17 20:12] jhgg opened #33 "Allow providing directives to GraphQLSchema"
https://github.com/graphql/graphql-js/commit/2fd6287e3b12f94c5314a0e5a4a74af3ebda82a3

[2015-11-17 20:12] jhgg opened #34 "Allow nested objects with similar keys."
https://github.com/graphql/graphql-js/commit/39bf4a417efbb7f10f89b9cb1cfbf99462013fac

[2015-11-17 20:12] jhgg opened #35 "Support deprecation via introspection"
https://github.com/graphql/graphql-js/commit/e1806ced58c06a05281a886fcd5dc084e2e2ba36

[2015-11-17 20:13] jhgg opened #36 "Fix false positive validation error from fragment cycle when unknown fragment is used"
https://github.com/graphql/graphql-js/commit/8c62789fd156761ca83992fb8d2192d41d768d13

[2015-11-17 20:13] jhgg opened #37 "Experimental: customizable validation"
https://github.com/graphql/graphql-js/commit/5a6ab116cadafbaf613387dd22a8e4b7b36738e2

[2015-11-17 20:15] jhgg opened #38 "Test against pypy 4.0.0"
Test against the latest pypy.

[2015-11-17 20:18] jhgg opened #39 "Implement various error message improvements"
- [x] https://github.com/graphql/graphql-js/commit/2ada5c69ecf3901e6ce1a5fe73e04a6fbfa2c0f8
- [x] https://github.com/graphql/graphql-js/commit/98364f61e716f5ff82ccd9432c264368d1052455
- [x] https://github.com/graphql/graphql-js/commit/e1c59a488ece3f0221a046e1b7e1cd108dc314c0
- [x] https://github.com/graphql/graphql-js/commit/ab13f32c1c42d72982ee78bb0d51111cca664044

[2015-11-17 20:20] jhgg opened #40 "Implement `extendSchema()` utility."
https://github.com/graphql/graphql-js/commit/9ea8196c2af97551bab5cfd57201c29e3085ee4e

[2015-11-19 18:44] #32 closed

[2015-11-19 18:50] #34 closed

[2015-11-19 19:03] #35 closed

[2015-11-19 19:10] jhgg commented on #38
Waiting on https://github.com/travis-ci/travis-ci/issues/5027 before I can test against pypy4.0.0 on travis.

[2015-11-19 22:51] #33 closed

[2015-11-19 22:57] #36 closed

[2015-11-20 20:00] #37 closed

[2015-11-20 20:13] jhgg opened #41 "Improve Error Handling"
Initial discussion started in #31 -

`graphql-core`'s exception handling is lacking. I'd like to implement a way where we can forward resolver errors to some place where they can be appropriately captured with their traceback in-tact.

It should handle sync and async resolver errors just the same.

[2015-11-20 22:57] #39 closed

[2015-11-25 15:45] inklesspen commented on #41
Agreed; the 'except Exception' stuff is particularly prone to obscuring the actual problem.

[2015-12-04 16:07] millerjs commented on #29
Perhaps a first pass at this can be to allow programmers to throw exceptions which cancel the whole execution?  The [executor (L195)](https://github.com/graphql-python/graphql-core/blob/450620de817480e5f36b64b7eb055a2be12abea0/graphql/core/execution/executor.py#L195) seems to swallow *all* exceptions.   I noticed this when trying to naively limit complexity (by metric of execution time).  However,

[2015-12-10 15:27] Globegitter commented on #41
Is there any update on this? Been running into issues a few times now where a stacktrace would have been very useful. Also happy to look into it with some pointers.

[2015-12-10 15:28] Globegitter commented on #40
Any update that on this? Error-handling and schema extension are probably right now the two most important features for us. I have also seen that graphene now has an `extend_fields` function which seems to achieve something similar.

See https://github.com/graphql-python/graphene/issues/66

[2015-12-10 21:33] jhgg commented on #41
@Globegitter  - will probably be over the winter vacation time. I'm very busy at my new job ;(

[2015-12-10 21:34] jhgg commented on #40
@Globegitter - will probably be over the winter vacation time. I'm very busy at my new job ;(

[2015-12-18 14:39] Globegitter commented on #40
That is totally fair - thanks for the response :)

[2016-01-11 13:45] Globegitter commented on #41
@jhgg If you can give me any pointers as to where a good place is to start I would be happy to try and look into it.

[2016-01-28 11:08] dgoldstein0 opened #42 "Improve Documentation of ResolveInfo"
As far as I can tell there's no documentation anywhere about what it's fields mean and how to use it, except for maybe 1 example of "how to get requsted field names" buried in another issue.  As a fairly core part of the graphql library it needs documentation.

[2016-01-28 11:10] dgoldstein0 commented on #14
has there been any progress here?

[2016-01-28 15:25] Globegitter opened #43 "Implement deprecations"
To have it logged here as well, it would be great to have deprecations supported as mentioned here:
https://github.com/graphql-python/graphene/issues/93

[2016-01-28 17:46] jhgg commented on #43
Already supported here ;)

[2016-01-28 17:46] #43 closed

[2016-01-28 19:07] jhgg commented on #42
Hi, @dgoldstein0,

Docs #14 hasn't been done for a while -- I haven't really had any time to do it. Additionally, it's not recommended that you use this library directly. I would look into using [graphene](https://github.com/graphql-python/graphene) which has legit documentation & community support or [graphql-epoxy](https://github.com/graphql-python/graphql-epoxy) which is kinda in the same state

[2016-01-28 19:08] #42 closed

[2016-01-29 08:14] dgoldstein0 commented on #42
well, I jumped over here because graphene doesn't document it either, hoping to find some clarity.  Basically I've had to do a bunch of reading the source and guessing what might be useful to try... and eventually accomplishing something.  Unfortunately the source (both here and in graphene) is pretty much devoid of docstrings and other real documentation.

Anyhow I would love to see docs for both

[2016-01-29 09:09] dgoldstein0 commented on #14
Btw is this task just about setting up the documentation web pages, or is it also about writing the documentation?  Writing docs seems like an awfully big task to ask a single person to do - maybe should be split up into more specific tasks?

[2016-01-29 23:39] jhgg commented on #14
All of the above @dgoldstein0. I'm not the best at writing - nor do I have the time to write out full featured docs right now. But if someone can set up the doc site & gh static pages, I can write some stuff from day to day until it's done.

[2016-01-30 01:09] dgoldstein0 opened #44 "errors during `Schema`'s `schema` property method extremely difficult to debug"
Errors in `@property def schema` (and probably any other `@property` in that class) do not yield useful tracebacks; instead, python "helpfully" falls back to `__getattr__` and then fails in there, which is extremely unhelpful.  This appears to be a specific case of https://github.com/tomchristie/django-rest-framework/issues/2108

Would it be possible to ditch the `__getattr_` use, or alternatively

[2016-01-30 02:28] syrusakbary commented on #44
@dgoldstein0 this issue if of `graphene`, not `graphql-core`. If you could repost it there would be great!

[2016-01-30 02:28] #44 closed

[2016-01-30 02:28] dgoldstein0 commented on #44
oop sorry about that

[2016-01-30 02:31] dgoldstein0 commented on #44
reposted as https://github.com/graphql-python/graphene/issues/96

[2016-01-30 03:42] dgoldstein0 opened #45 "Error message when you return a non-iterable for a `List` in a `resolve_` function should mention the name of the resolve function"
Particularly this code:

https://github.com/graphql-python/graphql-core/blob/450620de817480e5f36b64b7eb055a2be12abea0/graphql/core/execution/executor.py#L250

Since graphql-core doesn't bubble up exceptions for most problems with the schema - here included - it's entirely nonobvious what types are involved and more importantly, what `resolve_*` function is the cause of this error.  It makes it rea

[2016-01-30 04:01] jhgg commented on #45
I think this is fixed in master. Just unreleased.  :(

Sent from my iPhone

[2016-01-30 05:14] dgoldstein0 commented on #45
:/ Please release then.  I had a lot of really awful debugging experiences
this week, and I'm trying to evaluate whether this library is fit for
prod... Currently I have to say no.

On Fri, Jan 29, 2016, 8:01 PM Jake <notifications@github.com> wrote:

[2016-01-30 06:01] jhgg commented on #45
A few other things need to be done for the 0.4.13 release. Once I have some actual free time I'll get them done. But until then PRs are welcome.

[2016-01-30 11:06] dgoldstein0 commented on #45
Cool.  What's the expected timeline?

I can't say I'm going to turn around and start submitting pull requests, but I think I can argue that it's not a ton of work for us to fix the shortcomings I've ran into this week.  If we really want to use this library, we'll probably start sending PRs your way.

[2016-02-01 17:17] Globegitter opened #46 "Release new version"
Having big mutations and queries it would be really useful having a new version of the library that includes https://github.com/graphql-python/graphql-core/commit/cf10db643abe8a4faf0e5b59c97ec19eefad094b

I actually spent some time implementing it myself just to now realise it has already been implemented without a release. So yeah, that would be a quite nice free win to have :) Thanks!

[2016-02-01 17:37] jhgg commented on #46
I'll release a new patch version with it today think it will be 0.4.12.1

Sent from my iPhone

[2016-02-01 20:07] jhgg commented on #46
Done.

[2016-02-01 20:07] #46 closed

[2016-02-01 21:46] Globegitter commented on #46
Thanks!

[2016-02-06 01:06] jdugan1024 commented on #41
@Globegitter I didn't dig into this too deeply yet, but I believe at least part of the problem is here:

https://github.com/graphql-python/graphql-core/blob/450620de817480e5f36b64b7eb055a2be12abea0/graphql/core/execution/executor.py#L195-L197

I'm not clear enough on the internals to understand the flow of control or how one might expose the errors in the ctx object.

[2016-02-26 20:39] py-in-the-sky commented on #14
I was going to make a separate issue for my request, but instead I'll add my thoughts here.  Could you add to the future documentation a spec and discussion on middleware?

I'm currently writing middleware for handling Google App Engine's NDB [Future](https://github.com/GoogleCloudPlatform/datastore-ndb-python/blob/master/ndb/tasklets.py#L192) type, which is slightly different from Python 3.5's Fu

[2016-02-26 23:18] jhgg commented on #14
Hiya, @py-in-the-sky. The touch points are really just in two places.

For wrapping NDB's Future type, you have to connect their Future to the Deferred object that `graphql-core` uses internally. It should be as easy as checking when the Resolver returns a NDB Future & then chaining the callback to call `deferred.errback()` or `deferred.callback()` with the result or exception.

The other end of t

[2016-02-27 00:34] py-in-the-sky commented on #14
Thanks, @jhgg !

I see `AsyncioExecutionMiddleware` [uses](https://github.com/graphql-python/graphql-core/blob/master/graphql/core/execution/middlewares/asyncio.py#L32) the optional override.  I'm not sure whether I have a use case for it, but could you explain the motivation for using the `execution_result` override in `AsyncioExecutionMiddleware`?  What useful things would it allow me to do?  I'

[2016-02-27 03:40] jhgg commented on #14
It allows the conversion of the return value of `executor.execute(...)`. By default, it is a `deferred` instance, which lets you attach a callback handler to it. In the asyncio middleware, I link it back to a `Future` so that it's awaitable. Let's us do:

[code]

Basically, developing a middleware takes whatever async primitive and turns it into a deferred (via `run_resolve_fn`) and then takes the

[2016-02-27 07:43] py-in-the-sky commented on #14
Crystal clear!  Thanks!

[2016-02-29 01:29] py-in-the-sky commented on #14
@jhgg, when you get a chance, could you give me your thoughts on these tests and implementation?

https://github.com/py-in-the-sky/gae-flask-redux-react-starter-kit/commit/d62993079f9d78d4bedbd894902fd6066aca4f1e

I just copied your `AsyncioExecutionMiddleware` implementation and made a few changes to make it work for the NDB Future type.

[2016-03-01 08:11] jhgg commented on #14
@py-in-the-sky :+1: lgtm.

[2016-03-22 20:15] defrex commented on #41
Any movement on this? It's massively problematic for me.

The ideal solution for me would be no solution. I already have error handling at the application layer that would turn the requests into 500s and appropriately log the traceback. Having a whole other way of managing errors seems unnecessary.

That said, anything would be better then the way it is now. As things stand debugging production er

[2016-03-23 20:43] jdugan1024 commented on #41
I agree, we need something better than the current nothing. ;-)

There is pull request #47 which was submitted by @rafales a while back.  It just uses the logging module to report errors.  I'm doing something similar in my dev environment.  I think #47 is a good start and probably should be implemented until there is a better solution. This sidesteps the security issues for now as well.

There sho

[2016-03-24 17:32] jhgg commented on #41
I'm in the same boat. Let me see what I can do quickly over the weekend to get out 0.4.12.2 w/ better error logging.

[2016-04-08 12:09] sdcooke opened #48 "Interfaces with fields that are interfaces"
Apologies if this is a little convoluted - it's hard to explain!

https://github.com/facebook/graphql/pull/123 allows implementations of interfaces to have fields that are implementations of interfaces. Currently `assert_object_implements_interface` (`graphql/core/type/schema.py`) only allows the fields to match types exactly. An example:

[code]

To test something out I made `assert_object_implem

[2016-04-09 21:42] syrusakbary commented on #48
@sdcooke this will be implemented quite soon. Thanks for the detailed issue!

[2016-04-14 08:51] #40 closed

[2016-04-14 09:03] syrusakbary commented on #40
@Globegitter you can install the latest `graphql-core` version `0.4.13`, and do the following:
[code]

Hope it helps!

[2016-04-19 06:02] syrusakbary opened #53 "Path to 0.5.0"
Version `0.5.0` compatible with the `GraphQL` Apr 2016 spec.
*Related Pull Requests:* #54 #59

## Features
* [x] Improve error handling #41
* [x] Add ability to add custom errors (inheriting from `GraphQLError`)
* [x] Expose all the function and classes
* [x] Move modules from `graphql.core.*` to `graphql.*`
* [x] Make tests relative to the directories
* [x] ~~Isolate `promise` package into own pa

[2016-04-19 06:22] syrusakbary commented on #45
@dgoldstein0 this is now pushed and published. Currently, the latest available graphql-core version is `0.4.18`.
Closing the issue.

[2016-04-19 06:22] #45 closed

[2016-04-19 06:22] syrusakbary commented on #30
Fixed by https://github.com/graphql-python/graphql-core/commit/7c3e769c1fe95553cd661a4bc8ea755ffd44fb1a

[2016-04-19 06:22] #30 closed

[2016-04-21 08:54] Globegitter commented on #53
@syrusakbary We have been looking a lot into a parallel middleware in our app (on Python 2.7). I was planning on open sourcing them, but the one we currently use is a simple ThreadPool middleware (the gevent middleware turned out not to be compatible with our app because we use grpc). That has its own issues though because it actually is spinning off threads. So our latest approach would be to use

[2016-04-21 10:59] sdcooke commented on #53
I've ported a few more commits:

Add to unit tests to ensure test accepts both edits of enter and leave: https://github.com/graphql/graphql-js/commit/d2c005afc87353eceadc03592e74bd6e44063e8e
in https://github.com/graphql-python/graphql-core/pull/56

Add test for parseLiteral on ComplexScalar: https://github.com/graphql/graphql-js/commit/b3a512787618cfbed20c9717daf2d69444bf7f33
in https://github.co

[2016-04-21 15:35] syrusakbary commented on #53
@Globegitter I think using futures is reasonable given the python context.
The main goal for using `Promise`s is simplify the executor classes for only have one that could work in any case (sync or async resolver resolution).

If we could achieve it in a simple way with futures I think would be a good idea to use it instead of `Promise`s.

[2016-04-21 15:39] syrusakbary commented on #53
@sdcooke you did a great work!

[2016-04-22 07:09] syrusakbary commented on #53
@Globegitter after researching and trying to implement using only futures I realized that everything would work great if we "promesify" the `Future`s automatically and have the advantages of using `Promise`s at the same time.

So we can have the nice approach of `Promise`s, but allowing the developer to use either a `Deferred` or `Future` if they want to. So promises will not force any way for cho

[2016-04-22 11:49] Globegitter commented on #53
@syrusakbary That sounds like a quite good option. What exactly would 'promesifying' `Futures` in your opinion mean? Would this just be adding the `.then` interface or more than that? I suppose a `.catch` could be quite handy as well.

[2016-04-23 20:17] syrusakbary commented on #53
@Globegitter What I meant with promesifying `Futures` is wrapping each future in a Promise (will be done in the grapqhl library, with no extra effort from the developer).

Here is the related PR for Promises, if you want a take al look.
https://github.com/graphql-python/graphql-core/pull/59

And here is the code for each executor... you might find useful too!
https://github.com/graphql-python/grap

[2016-04-27 07:29] Globegitter commented on #53
Thanks, that is amazing progress @syrusakbary! Also this might be part of fixing #41 but it seems in your PR to 0.4.14 you missed: https://github.com/graphql/graphql-js/commit/3d27953a4653ca8ea5aa18edab105ca374dc0b39

[2016-04-28 08:09] syrusakbary commented on #53
@Globegitter I skipped intentionally this as we already pass the originalError to the exception.
https://github.com/graphql-python/graphql-core/blob/master/graphql/core/execution/executor.py#L230

Maybe what is not as obvious and need to be improved is that this original error is in the `stack` attr of the `GraphQLError`.

[2016-04-28 08:39] syrusakbary commented on #53
@sdcooke any other port of the `graphql-js` commits will be welcome! 😉

[2016-04-28 15:33] sdcooke commented on #53
I haven't disappeared! Just not finding enough time to get to it right now. I'm currently battling against relay connections in graphene!

[2016-05-04 06:05] syrusakbary commented on #53
All the changes are now in the `master` branch. Closing this issue :)

[2016-05-04 06:05] #53 closed

[2016-05-04 06:09] syrusakbary commented on #41
This is fixed in the `master` branch now by the commits: f2175f5ee081771b9caad2eb32513e88648c0ca1, 0143e08b28f8082b3e05e95af59b27336b3cb766.

All the `GraphQLErrors` now also have a stack that corresponds with the stacktrace of the original Exception, and a `original_error` field pointing to the original error.
Also, a exception is logged in the logger each a exception is raised.

Closing this iss

[2016-05-04 06:09] #41 closed

[2016-05-04 07:52] Globegitter commented on #53
Wow that's amazing progress. Great job @syrusakbary! :)

[2016-05-05 13:32] Globegitter commented on #53
Any chance to make a new realse for this @syrusakbary ?

[2016-05-05 16:06] syrusakbary commented on #48
This is implemented in the current version `0.5.0`, closing the issue.

[2016-05-05 16:06] #48 closed

[2016-05-05 16:09] syrusakbary commented on #53
This new `graphql-core` version will be pushed to `PyPI` soon.
I'm working in updating all external dependencies (aka `graphene`, `graphql_relay`, `graphql-django-view`, `django-graphiql`, `flask-graphql`) to support the new code_structure and upload a new version for them too.

[2016-05-11 03:16] rattrayalex commented on #14
http://graphene-python.org/ is up and looks great; can this issue be closed? If not, what remains to be done? I might be interested in trying to write docs.

[2016-05-23 02:49] AlecAivazis opened #63 "AsyncIO Executor"
I've run into a bug with the AsyncIO Executor when trying to run a query from an application where the event is running.

I think it's because the executor's implemention of `wait_until_complete` uses `run_until_complete` which starts up the event loop and waits. Since the event loop is already running, it threw an exception when I tried to start it a second time.

[2016-06-01 04:22] syrusakbary commented on #14
Closing the issue, as is not likely to document this package in short-term.
Any contribution in the docs to `graphql-core` will be welcome, but not a priority for the core developers.

[2016-06-01 04:22] #14 closed

[2016-06-01 04:23] syrusakbary commented on #63
I've added the `loop` option in `AsyncioExecutor`, now you can pass your event loop if existing and will be no colissions.
Related commit: https://github.com/graphql-python/graphql-core/commit/3258d297a877d0215764a28f281698b8bdd6b6b2

Closing the issue.

[2016-06-02 05:14] #38 closed

[2016-06-04 08:26] AlecAivazis commented on #63
So it seems the particular bug has been fixed, unfortunately I'm still unable to successfully execute a query with the asyncio executor.  Here is my test case:
[code]

Which results in:

[code]

I might be doing something wrong - if i'm understanding the source code correctly, wrapping the resolver in `@asyncio.coroutine` should be enough to have the future yielded, right? That doesn't seem to be

[2016-06-12 01:35] AlecAivazis commented on #63
Any news on this @syrusakbary?

[2016-06-12 18:54] saolsen opened #67 "Use AsyncioExecutor from within a coroutine."
I'd like to be able to resolve a graphql query with async def resolvers from inside a coroutine.

This used to work with the old AsyncioExecutionMiddleware (I was using version 0.4.12.1) but the new AsyncExecutor seems like it's meant to be run from outside a coroutine and internally calls `loop.run_until_complete` itself but my request handler is already a coroutine so I'd like to just call
`resu

[2016-06-15 18:36] syrusakbary commented on #63
Probably it's because `@asyncio.coroutine`... let me take a better look later today!

[2016-06-17 18:43] MrSurly commented on #41
It appears that f2175f5 _removes_ the `original_error` field, and the `stack` field (in my case) is simply an `Exception` (`TypeError`), with no way to extract stack info.

How can one extract a stack?

[2016-06-21 06:04] #63 closed

[2016-06-21 08:45] #67 closed

[2016-06-21 16:48] syrusakbary commented on #63
Hey @AlecAivazis this should be solved now... let me know if everything works perfectly!

[2016-06-21 16:50] syrusakbary commented on #67
@saolsen @AlecAivazis I added the `return_promise` option to `execute` and `graphql` methods.

Now you can do:
[code]

Working test: https://github.com/graphql-python/graphql-core/blob/895b324f3810a866b2c68527a837d474c893f200/tests_py35/core_execution/test_asyncio_executor.py#L65

Hope it helps!

[2016-06-26 20:01] AlecAivazis opened #69 "Async/Await keywords with AyncioExecutor"
I'm running into a bug using the `async`/`await` keywords and the AsyncioExecutor. Here is my test:

[code]

which results in the following messages logged in my terminal:
[code]

[2016-08-11 10:34] AlecAivazis opened #71 "Parse equality is whitespace dependent"
@syrusakbary - I'm trying to test the generation of graphql queries by using `graphql.parse` and experiencing some weird behavior:

[code]

The only difference between these two queries is the position of the `bar` node but the individual results look identical:

[code]

[2016-08-16 10:56] steveklewis commented on #63
I'm still getting the behavior that just returns a string ('<generator object ...>') and it looks like I'm using the latest with the commit code referenced here. I'm using Python 3.5.2. Here are the versions of things I'm using:

asyncio (3.4.3)
Cython (0.24.1)
graphene (0.10.2)
graphql-core (0.5.3)
graphql-relay (0.4.4)
iso8601 (0.1.11)
pip (8.1.2)
promise (0.4.2)
setuptools (20.10.1)
six (1.10.0

[2016-08-16 11:04] steveklewis commented on #63
I'm still seeing the behavior just returning the string. I'm using Python 3.5.2 with these libs:

asyncio (3.4.3)
Cython (0.24.1)
graphene (0.10.2)
graphql-core (1.0)
graphql-relay (0.4.4)
iso8601 (0.1.11)
pip (8.1.2)
promise (0.4.2)
setuptools (20.10.1)
six (1.10.0)

It looks like I have the latest code if I go into site-packages but maybe there's something dumb I'm doing. Just wanted to put in m

[2016-09-08 05:48] syrusakbary commented on #71
Fixing this in the next release :)

[2016-09-08 14:19] Globegitter opened #75 "v0.6.1"
Not sure how much time I have the next few weeks but wanted to get the ball rolling on `v0.6.0+`. I think it is probably best to target the sub-relsease rather than straight to `0.7.0` making it easier chunks.

In any case, here is the list of commits: https://github.com/graphql/graphql-js/compare/v0.6.0...v0.6.1

As soon as I find some time I'll get started on it.

[2016-09-08 17:38] amir-beheshty opened #76 "Broken link"
https://github.com/graphql-python/graphql-core/blob/master/graphql/tests

[2016-09-08 22:13] syrusakbary commented on #75
Great! I'm taking some time to review deeply your `0.6.0` PR, but should be good to go soon! :)

[2016-09-18 17:11] ilponyy opened #78 "Execute should return an awaitable with AsyncioExecutor"
The current graphql.execution.execute.execute implementation forces AsyncioExecutor to use loop.run_until_complete in wait_until_finished. This is a bit ugly.

It would be better to let the executor decide what is returned from the execute method. It can be given a function to call after the data is ready as an argument.

With this AsyncioExecutor could return an awaitable and execute would be use

[2016-09-18 19:19] syrusakbary commented on #78
Hi @ilponyy, you can use `return_promise=True` and then await on the promise :)

[2016-09-18 21:12] syrusakbary commented on #78
However if you have an idea of how to make the execute work in the following environments:
* Python 2.7 without await and synchronous executor.
* Python 2.7 without await custom event event loop (gevent, twisted, threads, ...)
* Python 3.5 with `await`

I will super happy to consider it!
(this part is a little bit tricky as we have to support multiple "executors" and syntax at the same time)

[2016-09-19 05:12] ilponyy commented on #78
Didn't notice that return_promise. That should work. It actually should be the preferred way with asyncio instead of that wait_until_finished hack.

[2016-10-01 01:15] benblippar opened #83 "ProcessExecutor failing"
(using osx, python 3.5)

seems to be trouble with using promises and pickle together. Also decorated methods seem to have trouble which means resolvers are often a problem

[code]

[2016-10-05 08:02] bcb commented on #63
Seems to work for me @steveklewis
[code]
Results in
[code]

[2016-10-05 08:23] bcb commented on #69
Must be fixed now, I'm getting the expected result. (from your code I've only moved the executor down to the `execute()` call, which is a recent change to graphql-core)

[code]
Results in
[code]

[2016-10-08 17:49] AlecAivazis commented on #69
Yep, just tested and its fixed. Thanks @bcb for letting me know and thanks @syrusakbary for all the hard work!

[2016-10-08 17:49] #69 closed

[2016-11-10 08:04] yen223 commented on #94
This was fixed at https://github.com/graphql-python/graphql-core/commit/845b09b264155f82b4cba9654cec19e18bca40ab

But yeah, I'm also eagerly awaiting the next release of `graphql-core`. The print statements add a lot of noise to our unit tests, and we'd rather not have to pin the requirement to a github commit.

[2016-11-23 17:48] syrusakbary commented on #94
Closing issue. The version `1.0.1` is now available in PyPI and should not have any print statements on it :)

[2016-11-23 17:52] syrusakbary commented on #90
I think is better to create this ticket in the graphene repo. (as "Graphene ObjectTypes/Interfaces should raise an error if have no fields")

[2016-11-30 06:37] #76 closed

[2016-11-30 06:38] syrusakbary commented on #71
This is fixed in master. Closing issue! :)

[2016-11-30 06:38] #71 closed

[2017-02-03 18:32] insolite commented on #104
Well, self.future is used in `wait_until_finished()` method but in my case it is not even called (which is good, cause is it not async actually). And yet, there is no list clear. Probably it should be after `wait` or should be more obvious if clearing is intended to be up to user?

[2017-02-09 06:23] syrusakbary commented on #105
Good catch. This was fixed in GraphQL-js in this commit: https://github.com/graphql/graphql-js/commit/12b2137f8a0b1a72752b5ee54660127a5a042a33

A PR reflecting those changes will be always welcome! :)

[2017-02-10 16:01] obi1kenobi commented on #105
@syrusakbary thanks for finding the JS version fix. I made a quick PR with the change you proposed.

On a validation-related note, do you think #97 might be something that's fixed in the upstream JS project, or could it be a new bug? I wasn't able to find it in the list of issues in that project, but perhaps you are more familiar with it and are better equipped to find the answer.

[2017-02-23 22:35] grazor commented on #78
Hi @syrusakbary, ``return_promise=True`` solution works fine for me, but if you are looking for inspiration on implementation with ``await`` keyword, you might want to check out Jinja2's way to add async support: https://github.com/pallets/jinja/blob/master/jinja2/asyncsupport.py

[2017-03-23 06:53] syrusakbary commented on #111
Hi @tcsavage,

Even if returns `None` will still be non-compliant with the spec (as it requires the absence of the attribute, raising `AttributeError` should be the correct behavior), *nullability* is still different than *undefinability*.

However, there are different reasons this is developed the current way:
* Ease of appending errors in the `ExecutionResult`.
* The clients (`flask-graphql`, `g

[2017-03-23 10:47] tcsavage commented on #111
You are correct that it will still not be fully compliant with the spec but I would argue that it would be closer to the intended semantics.

In any case, the [docstring for ExecutionResult class](https://github.com/graphql-python/graphql-core/blob/a0e85399b442a92544c71668ffe2b31888b5bab5/graphql/execution/base.py#L103) says "`errors` is null if no errors occurred". So from my perspective the impl

[2017-03-23 17:42] syrusakbary commented on #111
You're right. I will improve it!

And thanks for the feedback! :)

[2017-04-06 13:08] janhancic opened #113 "How do you correctly get exceptions?"
So I want to log out the original exception that occurred during the execution of the query and return the exception message to the client in the errors obj. The latter works fine, but I can't, for the life of me, get the stack of the exception.

I have the execution result and I tried things like this:

[code]

But it only prints out the message of the exception, which isn't very useful when debu

[2017-04-10 15:22] janhancic commented on #113
Hey @syrusakbary I've done some more digging around and I found that the exceptions get caught here: https://github.com/graphql-python/graphql-core/blob/master/graphql/execution/executor.py#L212

at which point they are already missing their stack trace. I tried digging deeper from there, going into the promise lib but I couldn't find anything.

Can you point me in the right direction? I'm happy t

[2017-04-19 08:45] janhancic commented on #113
Is there any more information I can provide to make this easier to solve?

Also, cheers for the new release! I'll be upgrading soon.

[2017-04-20 12:04] janhancic commented on #113
I've just upgraded to `promise v2`, `graphql-core v1.1` and `graphene v1.4` and the behaviour is the same. Just FYI.

[2017-04-25 12:20] kvey commented on #113
[code]

is a snippet I've been using in tests if it's helpful

[2017-04-25 14:01] janhancic commented on #113
Seems like this is no longer an issue on latest versions (not sure why it didn't work when I wrote my previous comment). Will close this and re-open if I find any similar issues.

Thanks.

[2017-04-25 14:01] #113 closed

[2017-05-03 20:53] playpauseandstop opened #115 "AttributeError on attempt to resolve coroutine with experimental executor"
I'd like to play with new experimental executor included with `graphql-core==1.1`, but unfortunately it didn't work well due to error below:

[code]

As well one more error occurred,

[code]

----

My setup:

[code]

----

The code behind test:

**views.py**

[code]

**schemas.py**

[code]

**resolvers.py**

[code]

----

But when I commented (removed) `executor.use_experimental_executor = True` l

[2017-05-04 03:33] syrusakbary commented on #115
Hi @playpauseandstop,

This was solved in the PR: https://github.com/graphql-python/graphql-core/pull/114/files in `master`.
I will upload a new version soon to PyPI :)

[2017-05-04 10:01] playpauseandstop commented on #115
@syrusakbary

Can confirm, experimental executor works fine for me after installing `graphql-core` from master instead of PyPI.

Thanks. Closing this as `fixed`

[2017-05-04 10:01] #115 closed

[2017-05-10 17:04] affablebloke opened #117 "Clear jobs list when using gevent executor."
I noticed a memory leak when running flask-graphql with the gevent executor. Here is the fix #116 .

[2017-05-12 03:26] #117 closed

[2017-06-05 22:25] isi-gach commented on #124
I have found a solution:

[code]

Here with tests:
https://gist.github.com/isi-gach/daef0b34ec5af6f026af52d593131c64

May I create a pull request to add it to the executors folder?

[2017-06-09 20:20] eamigo86 commented on #118
Waiting for the new release with this functionality !!!

[2017-06-15 16:44] mekhami commented on #124
Just open the PR and let them review it from there. This is something I'd certainly like to have.

[2017-06-26 14:18] pobed2 commented on #29
@syrusakbary, I know this is a very old issue, but has anything been implemented to help protect against malicious queries? If not, do you have any pointers on how to implement it myself?

[2017-06-29 21:14] jvtm opened #127 "Support 'path' in error reporting"
When dealing with error responses on client side, would be nice to know which field caused it. Right now there seems to be support for `locations` -> `(column: .., line: ...)`, but not for the `path` specified in https://github.com/facebook/graphql/pull/230/

[code]

[code]

Note: might take a look at this at some point myself (would like to also fine-tune when server side exception prints traceba

[2017-06-29 21:59] jvtm commented on #127
Looks like `graphql.error.format_error()` can access `nodes`, `positions` and `locations`, but not sure if those would be directly usable. Not that familiar (yet :) with the code-base.

Luckily Flask-GraphQL + `use_reloader=True` makes experimenting quite fast.

[2017-06-29 22:23] jvtm commented on #127
A humble beginning:
[code]

With my simple schema right now I can only get errors on top-level fields.

Accidentally found a way to get the alias supported.

Missing root value name. So perhaps something needs to be patched so that GraphQLError would see the whole tree / path.

However even this small patch helps me to debug the problems more easily. My query is generated based on user request, an

[2017-07-27 22:59] gdw2 commented on #126
Same issue here

[2017-08-03 11:29] edmorley commented on #129
Many thanks :-)

[2017-08-04 01:49] syrusakbary commented on #135
Hi @ajhyndman, if the type fields are created directly "by hand" (not using any framework like `graphene`), the order of the fields depend on the dict that you are using to hold the field names and values.

So, if you are using `{}` instead of `OrderedDict`, then the dict will be un-ordered and un-deterministic depending on which python env you run the operation in (unless you are in Python 3.6 wh

[2017-08-04 02:03] ajhyndman commented on #135
Thanks for the quick response, @syrusakbary.  I'm beginning to suspect that the source of the nondeterminis I'm seeing is `graphene_django`.

[2017-08-04 02:12] yen223 commented on #135
One potential source of non-deterministic ordering is in `graphene`'s Mutation arguments.

https://github.com/graphql-python/graphene/blob/master/graphene/types/mutation.py#L22: `field_args` is a dict, not an OrderedDict.

[2017-08-04 06:54] syrusakbary commented on #135
Good feedback! I would love to backtrack and see what is the source of this "non-determinism".

If you can create a repo that helps to reproduce the issue it will be super useful for debugging and fixing the issue (either in graphene or graphene-django).

[2017-08-15 04:53] ajhyndman commented on #135
@syrusakbary

I believe we've managed to isolate the two sources of non-determinism that we were experiencing.  The first is Mutation arguments.  The second is occurs when a DjangoObject type has multiple synthesized foreign key relationships.

https://github.com/ajhyndman/graphene-experiments

[2017-09-13 23:42] mschmo commented on #137
Not 100% sure of loading from an SDL file, but you could load easily from a JSON file:
[code]

[2017-09-14 06:20] achimnol commented on #126
In graphql-core 2.0.dev20170801051721, you can do:
[code]

[code]

[2017-09-14 06:23] achimnol commented on #126
And in general, when writing asyncio-based programs we need explicit exception handling at the top stack frame of each asyncio Task (for all *unexpected* errors). The errors are only reported when the task is deleted from the memory, which usually happens when the event loop shuts down.

[2017-09-14 06:37] achimnol commented on #126
Hm... I've also found that [the code here](https://github.com/graphql-python/graphql-core/blob/0d4f9527dfc48c55fb57f1a8543ca1b570e230a7/graphql/error/located_error.py#L19-L20)
[code]
should check `original_error.__traceback__` instead, because `original_error` may be just an arbitrary Python exceptions which might not have `stack` property (which is the convention in graphql-core). But `__traecbac

[2017-09-18 21:53] BenoitZugmeyer commented on #126
For those who are looking for a quick solution, this is how I resolved it in graphql 1.1:

[code]

[2017-09-19 13:05] dpnova commented on #126
Legend, this works wonderfully for now!

[2017-09-26 03:40] seansay commented on #137
@mschmo
what's the json file looks like?

[2017-10-10 13:38] elnygren opened #142 "Why sys.excepthook for all (even "control flow" errors) ?"
Hi! I've got some testcases covering invalid mutations e.g mutating a non-existent object with an invalid UUIDv4. GraphQL and graphene handle these quite nicely (user gets a proper error message).

However, my stderr is still full of errors when I run my tests (that all pass). I did some digging with the debugger and found this line: https://github.com/graphql-python/graphql-core/blob/f8a6a8a27119

[2017-10-19 20:28] audiolion opened #145 "Bringing graphl-core in line with graphql-js"
Hello!

Wondering what the state is for this repo, its mirroring up until `0.6.0` of the `graphql-js` library, are there plans to bring this up to the most recent version?

There seems to be a few changes to the `ast` syntax in that time

https://github.com/graphql/graphql-js/compare/3f1f9f5759704ca9ed153c98558236a66af75153...master#diff-f6c82657a3a445e0f3fcc8409482756c

go to "files changed" tab

[2017-10-23 22:36] KaySackey commented on #145
The link you gave, doesn't show any changes between those two branches. Was that the right link?

[2017-10-24 14:03] audiolion commented on #145
Ok updated the link, thanks!

[2017-10-24 15:42] KaySackey commented on #137
I'll just note if you're in the dev branch you can load from a schema file like so:

[code]

Schema will then be a GraphQLSchema object.

In order for this to work though, your schema.graphqls file has to have a Query type and a defined schema object like so:

[code]

[2017-10-26 08:18] fjwillemsen opened #146 "Unexpected Keywords error for resolve() after 2.0 update"
As of release 2.0 of graphql-core, this package has broken our product due to a lack of backward-compatiblity. Any attempt to interact with the project through GraphQL results in an error cause by a failed call to resolve() due to unexpected keywords.
For example, calling a mutation like "login" with an input-dictionary from the GraphQL IDE client (https://github.com/graphql/graphiql) to our proje

[2017-10-27 14:33] grantmcconnaughey commented on #146
Hopefully a new 1.x version of Graphene/Graphene-Django will be cut to pin dependencies to be below version 2.0.

In the meantime, a workaround for this issue is to pin your GraphQL/Graphene dependencies to be below version 2.0 in your requirements.txt file.

[code]

[2017-10-31 20:26] ekampf commented on #134
I started adding this feature at https://github.com/graphql-python/graphql-core/pull/148
would love feedback

[2017-10-31 20:26] ekampf commented on #127
I started adding this feature at https://github.com/graphql-python/graphql-core/pull/148
Would love feedback

[2017-10-31 21:10] jvtm commented on #127
I can try the patches late this week / early next week, when getting back to the related project (for graphene 2.0 upgrades)

[2017-11-06 07:44] dscoular commented on #146
I don't understand the above comment by grantmcconnaughey. I want to use Graphen-Django version 2.0 or greater but I get similar errors when I try to pass filter parameters:

[code]

I've defined the resolver as follows (I've omitted some lines for brevity):

[code]
This was working under graphene_django 1.x. Are you saying graphen_django 2.x only works with graphene 1.x and graphql-core 1.x? Why

[2017-11-06 13:48] grantmcconnaughey commented on #146
@dscoular I believe your issue is subtly different from @fjwillemsen issue.

Their issue is that they are using Graphene 1.x, but when someone pip installs graphene 1.x it also installs graphql-core 2.0, which is incompatible with graphene 1.x and results in this error.

Your issue is slightly different because you _are_ installing graphene-django 2.0, but it introduces some backwards incompatibil

[2017-11-16 22:40] japrogramer commented on #149
Hmm I think I understand now, In the on next, I could also send to the reply channel in channels

        #  TODO: Implement timeout mechanism <10-11-17> #
~   1         result = schema.execute(query, variable_values=foovar, allow_subscriptions=True, **kwargs)
+   2         if isinstance(result, rx.Observable):
+   3             class MyObserver(rx.Observer):
+   4
+   5                 def on_nex

[2017-11-22 17:20] janosroden commented on #142
I'm new in python, but I think this is the cause of the "Press Enter to continue" message during debugging such a test.

[2017-12-04 06:13] zyguan commented on #142
That's annoying! Can we make the error reporting configurable? eg. add an additional callback arg to [ExecutionContext](https://github.com/graphql-python/graphql-core/blob/6df8a6312b579a6a1454bcf29a566ce5d0fa9849/graphql/execution/base.py#L24) and [execute](https://github.com/graphql-python/graphql-core/blob/6df8a6312b579a6a1454bcf29a566ce5d0fa9849/graphql/execution/executor.py#L31) or just allow

[2017-12-05 08:55] mariogarcia commented on #142
I've found a possible solution, at least for middlewares:

I've created an authentication middleware and I had the same problem. It was very annoying getting stacktraces every time a user failed to authenticate.

Looking into this I realized that tests regarding middlewares were using `promises`, so I thought what would happen if I returned `Promise.reject(GraphQLError('message'))` from my middlew

[2017-12-05 12:53] elnygren commented on #142
@mariogarcia after your trick my

[code]

turned into

[code]

So a little less verbose but still unnecessary printing of errors somewhere....

[2017-12-05 15:24] mariogarcia commented on #142
Well in my case I think is still desirable to have a minimum traceability of authentication errors.

But yeah, maybe there should be a specific type of error that `graphql-core` could propagate without being verbose along the way. Or maybe a flag in the `GraphQLError` type:

Special type:

[code]
or flag:

[code]

[2017-12-06 15:55] zyguan commented on #142
@elnygren If you do not wanna see any annoying output, you can actually overwrite the `sys.excepthook`, eg. put the following code to your setup function.
[code]
However it's not a good idea to ignore all exceptions. So you may use an custom exception to specify which you want to ignore.
[code]
In my humble opinion, you'd better set `stack` attribute to all errors caught by you logic code (and the

[2017-12-06 21:52] perrosnk commented on #149
+1

[2017-12-08 14:43] dionyself opened #150 "Error serializing field duration = models.DurationField()?"
Hi there, i'm not 100% sure if this is a bug or not (I'm newbee here) but i got a problem while querying a Node that uses the field type models.DurationField  ( it really returns datetime.timedelta).

[code]

This error points to line 51 but i think the class GraphQLScalarType (on line 65) is also related.

Here is my env's prop
[code]
How to reproduce?

1- Create your model
[code]

2-Create your

[2017-12-08 15:14] AgentChris commented on #149
can you give us the complete code, to play with it?

[2017-12-09 00:23] japrogramer commented on #149
most of it is in https://github.com/graphql-python/graphene/pull/500#issuecomment-325560994

this is the part that makes it rx compliant

[code]

[2017-12-11 01:47] dfee opened #152 "Updates to RxPY (vNext)"
As a heads up, I was talking with the maintainer of RxPY and there will be major changes to the library by year's end. This major change will be both a refactor of RxPY and will also support the notion of an `AsyncObservable`, bridged from the `aioreactive` library: [RxPy vNext](https://github.com/ReactiveX/RxPY/tree/vnext).

I think the major benefit to `graphql-core` will be that we could remove

[2017-12-11 18:51] eamigo86 commented on #149
Hello @japrogramer, any progress returning an Async Iterable or Observable in the subscriptions?

[2017-12-11 19:39] japrogramer commented on #149
@eamigo86 yes, rx.Observable.from_iterable( ... ) on the comment above I explain more.

[2017-12-12 18:50] eamigo86 commented on #149
Hi again @japrogramer, my problem is that the subscription always gives me back a promise with the observable inside.
In this image you can see that the function **resolve_or_error** within the function **subscribe_field** on *execution/executor.py*, always gives me back a promise. That's why I get the error.

![image](https://user-images.githubusercontent.com/11740026/33902183-3bb25bba-df42-11e7-

[2017-12-12 20:37] japrogramer commented on #149
@eamigo86 what query are you running and what does the resolve for those fields return?

[2017-12-12 20:38] japrogramer commented on #149
are you using a dataloader in any of those fields?

[2017-12-12 20:51] eamigo86 commented on #149
No, I not use *Dataloader*, I just define my Subscription like a **ObjectType** class, and on my **subscription_resolver** function return a **ObjectType**, thanks to  your code I now return a **Observable**, just like this:
![image](https://user-images.githubusercontent.com/11740026/33907689-07367e2c-df54-11e7-90db-f147cdb6ff63.png)

[2017-12-12 20:57] japrogramer commented on #149
ok, so when the schema returns a result it should be an instance of rx.Observable
than this code should help you out https://github.com/graphql-python/graphql-core/issues/149#issuecomment-345086276

[2017-12-12 21:01] japrogramer commented on #149
the way Im doing subsrciptions is by adding the reply_channel to a group https://github.com/graphql-python/graphql-core/issues/149#issuecomment-350405781
and because Im serving subscriptions over a websocket, when i send in the group it goes to the people subscribed. So im subscribing to events and than in the client I determine if I want to query for the data based on the events.

[code]

[2017-12-12 21:16] eamigo86 commented on #149
I understand the way you use the subscriptions, in my case, I use the subscriptions in graphql only to register a user connected by wescoket to the server, in a certain group, so when the event to which it has subscribed is given, it is notified via websocket, like this:

![image](https://raw.githubusercontent.com/eamigo86/graphene-django-subscriptions/master/example_websocket_client/subscription_

[2017-12-12 21:53] eamigo86 commented on #149
I only manage to obtain an Observable if I put in the settings:
[code]

[2017-12-12 21:54] japrogramer commented on #149
Is the graphene_django debug middleware causing problems? or what other middleware are you using?

[2017-12-12 21:56] japrogramer commented on #149
This are my settings, I can confirm that the client does receive a message when the product that it subscribes to is updated.
[code]

[2017-12-12 21:57] japrogramer commented on #149
And than In my root Query
[code]

[2017-12-13 20:39] eamigo86 commented on #149
Hi @japrogramer. That looks like my configuration, but if I do not specify any middleware or I put **DjangoDebugMiddleware**, it always returns a promise, only if I explicitly say that the value of the key **MIDDLEWARE = []**, returns the **Observable**.
I guess I'll have to keep investigating a bit more to find out why it's not working as I expect. Anyway, thanks for your advice and your time.

[2017-12-14 17:36] eamigo86 commented on #149
Hi again @japrogramer, could you teach me the full implementation of your Observer class?
After a few hours and using some tricks, I managed to return an Observable regardless of the configuration of the Middleware in the setings.py

[2017-12-15 04:24] japrogramer commented on #149
@eamigo86 this is my observer class https://github.com/graphql-python/graphql-core/issues/149#issuecomment-345086276

From What i have seen from your subscriptions project it seems to me that you are looking for a scheduler https://youtu.be/jKqWMvdTuE8?t=17m42s

I think the threadpoolscheduler is the most appropriate for what you are trying to do

[2017-12-15 04:48] japrogramer commented on #149
@eamigo86  actually it looks more like this now .
[code]

[2017-12-15 21:56] dfee commented on #149
If you're calling a `sync` resolve function for your subscription you need to return an observable. If you're calling an `async` resolve function, you need to `yield` from an asyncio generator.

Practically speaking, the former will likely require a `rx.subjects.Subject` (so that it can be subscribed to), and the latter will require you to implement some code that looks like this:

[code]

[2017-12-15 22:11] dfee commented on #29
@pobed2 you could add a variable to your context and bump it on each resolve call. You'll probably also want a more formal data structure with a locking mechanism for the executor of your choice.

[code]
... and then throw that into your context when you call...

`schema.execute(statement, context_value={'counter': ResolveCounter()})`

alternatively, you could make a helpful wrapper:
[code]

[2017-12-18 11:57] jkimbo commented on #150
@dionyself looks like a [graphene-django](https://github.com/graphql-python/graphene-django) issue but since you're here I'll try and help.

I think the issue is that graphene-django tries to convert the `DurationField` to a `Float` graphql type (code is here: https://github.com/graphql-python/graphene-django/blob/b54e02c9ba5925a116a56786897a5d3d33c68dfd/graphene_django/converter.py#L119) but a ti

[2017-12-18 15:58] dionyself commented on #150
Thank's for your help, i was using this workaround https://github.com/dionyself/leaky/blob/master/warehouses/schema/query/asset.py#L10
`duration = graphene.String()` this output looks human readable.  now let's check graphene_django repo  thank you again.

[2017-12-19 09:37] CaselIT commented on #142
I think that the best option would be to use the logging library to log the error instead of `sys.excepthook`, so the user of the library has full control on what should be reported.

[2017-12-19 18:44] CaselIT commented on #142
I've added a [PR](https://github.com/graphql-python/graphql-core/pull/154) to close this issue.

[2017-12-20 23:49] dfee commented on #29
I thought about this after posting it, and actually I think middleware is the right place for this.

[2017-12-21 08:38] dfee commented on #149
Hmm... I seem to be having this issue if using middleware – even a dummy middleware:
[code]

Annoying, I'm about to go hunting.

[2017-12-21 09:51] dfee commented on #149
I've found the answer. TLDR: use a [`MiddlewareMediator`](https://github.com/graphql-python/graphql-core/blob/6df8a6312b579a6a1454bcf29a566ce5d0fa9849/graphql/execution/middleware.py#L10).

The entrypoint for graphql queries is the [`execute` method](https://github.com/graphql-python/graphql-core/blob/6df8a6312b579a6a1454bcf29a566ce5d0fa9849/graphql/execution/executor.py#L31)

The relevant bit is

[2017-12-23 20:50] dfee opened #155 "Order of Middlewares"
I've discovered that this line inverts the middleware order:
https://github.com/graphql-python/graphql-core/blob/6df8a6312b579a6a1454bcf29a566ce5d0fa9849/graphql/execution/middleware.py#L51

This was somewhat confusing, as I expected the first installed middleware to be the entrypoint. I.e.

[code]

actually produces the call stack `mw2 -> mw1 -> resolve_func`, whereas i'd expected `mw1 -> mw2 ->

[2017-12-24 10:42] dfee commented on #149
For what it's worth, this middleware also does the trick:

[code]

[2018-01-19 22:11] charettes commented on #142
Thanks for the PR @CaselIT, I also agreed that `logger.exception` is a way better option that `sys.excepthook` to propagate these errors.

[2018-01-21 07:56] #142 closed

[2018-01-23 15:11] gamugamu commented on #42
Yes I confirm: The docs are poor. Why not documentating it?

[2018-02-21 12:02] fmoga commented on #93
I second this. @chaffeqa did you find a solution?

[2018-03-11 11:44] jkimbo commented on #162
@janhancic I don't think it does make sense since this library is meant to be a port of the `graphql-js` reference implementation. The automatic conversion from snake case to camel case is a developer nicety that is implemented in graphene only.

[2018-03-11 12:07] janhancic commented on #162
Do you think that's something that could be implemented in graphene then? At the moment I'm doing the conversion manually as otherwise it's weird that in some cases you use camel case and in some snake case.

[2018-03-11 12:12] jkimbo commented on #162
Sure it seems reasonable. Happy to have a look at a PR with tests on the graphene repo

[2018-03-11 12:18] janhancic commented on #162
Seems like something that could go hand in hand with #160 in that it could be a new field on the info object. Otherwise it would be a bit of a backwards compatibility issue, as there's code out there expecting snakeCase.

I might have some time in the near-ish future to do this, but would need some buy in from the maintainers first.

[2018-03-11 13:02] jkimbo commented on #162
Yep agreed there would be a couple of issues solved with something like a `selection_fields` attribute on the info object (name is completely up for grabs). Probably only useful on an `ObjectType` resolver though. Again happy to look at a PR on the graphene repo (where I am a maintainer) since that code should live there.

[2018-03-11 15:36] janhancic commented on #162
Oh, sorry, didn't realise you're a maintainer there ☺️
I'm not promising anything, but will see what I can do.

[2018-03-15 10:09] seansay commented on #29
this would be really hepful,  the github graphql api have the node based limitation to avoid bad query coming in https://developer.github.com/v4/guides/resource-limitations/

[2018-03-17 06:50] tlinhart commented on #142
@CaselIT @charettes Guys, how does this solve the original problem? Say I want to be able to selectively control which exceptions should only result in error messages in the output and which should also be logged (possibly with stack trace) for later debugging. The former could be a case for business logic errors in resolvers (e.g. authentication/authorization errors). The later could stem from un

[2018-03-17 06:56] charettes commented on #142
@tlinhart isn't this something you can achieve with logging filters and handlers?

[2018-03-17 07:06] tlinhart commented on #142
@charettes I'm not sure, could you provide an example? Say that all business errors would result in `BusinessError` exception raised. (I would raise this exception directly or wrap any other exception.) These should only result in errors in GraphQL response. All others should also be logged. I can't think of an easy and convenient way to achive this.

[2018-03-17 09:20] CaselIT commented on #142
@tlinhart as @charettes has proposed I think you can handle it with logging filters.
Something like
[code]

[2018-03-17 09:51] tlinhart commented on #142
@CaselIT Thanks for an example. I agree it's theoretically doable, but I really don't find this the best solution. One reason is that it's unnecessary overhead. The second reason is that filtering based on a text pattern is ugly, hard to maintain and very error prone. In this light, I find `sys.excepthook` solution the better one. What do you think?

[2018-03-17 10:29] CaselIT commented on #142
I disagree. I think that a library should avoid logging to standard error by default and instead use the logging library, so the users can easily customize the behavior.

Regarding what you are trying to accomplish, I agree that it's not the best solution the one that I have proposed. I'm opening a new pr to make filtering easier by using the kwarg argument `exc_info` in the logging call

[2018-03-17 10:43] tlinhart commented on #142
I totally agree on the first point. Regarding the second, could you please reference this issue in the PR do tracking is easier?

[2018-03-17 10:46] CaselIT commented on #142
@tlinhart it's now open

[2018-03-18 11:19] mariogarcia commented on #142
BTW, I would like to share my recent experience handling errors with `graphq-java` which I believe is the reference in the JVM world.

**Error vs Exception**

When using this library, I always try to separate what is an `error` of what is an `exception`. The framework itself sometimes mixes errors and exceptions, but I think there's a simple rule that could be used from the developer point of view

[2018-03-20 18:26] dfee commented on #151
@eamigo86 it is possible: [test-example](https://github.com/graphql-python/graphql-core/blob/5a13e142abd27663e1523b45ae9e10e72aaf9607/graphql/utils/tests/test_build_client_schema.py#L415)

However, I'm not sure if you're able to make use of them when defining a schema, or if they're only supported client only.

[2018-03-20 19:47] jkimbo commented on #167
@cmacrander looks like it's not exposed at the top level of the package. You can import it like this: `from graphql.type import GraphQLEnumValue`

[2018-03-20 19:55] chris-perts commented on #167
Thanks, @jkimbo, I'll do that. Still, I noticed that everything else (e.g. `GraphQLEnumType`) is exposed in that manner. And my naïve reading of `__init__.py` suggests it _should_ be exposed. The fact that it's not suggests a more subtle bug. What do you think?

[2018-03-20 19:57] jkimbo commented on #167
I think it's just an oversight. This library is a port of the JS library and there isn't such as thing as `GraphQLEnumValue` there. If you would like to make a PR to expose it at the top level I'm sure that would be appreciated.

[2018-03-20 19:57] eamigo86 commented on #151
Hi @dfee, thanks for your answer. I already implemented a custom [package](https://github.com/eamigo86/graphene-django-extras) for extend graphene-django functionalities and implement some default directives.

[2018-03-25 14:40] vaniakosmos opened #168 "Problem with error logging and sys.excepthook"
related issue: #142
problem itself: https://github.com/graphql-python/graphene-django/issues/413

[2018-03-26 13:31] #168 closed

[2018-03-27 06:04] ShigeruNakagaki opened #169 "Support of Schema directives"
I have a question.
[Schema directives](https://www.apollographql.com/docs/graphql-tools/schema-directives.html) are supported already, or will be supported?

[2018-05-01 18:05] vpetrovykh opened #171 "`Int` -> `Float` type coercion issue"
There seems to be a bug in type coercion system where an `Int` is not coerced into a `Float`. Here's the code sample that should illustrate the issue:

[code]

As far as I can tell from the [spec](http://facebook.github.io/graphql/October2016/#sec-Float), this should fall under input coercion for `Float`.

I'm using version 2.0 of this package.

[2018-05-11 12:03] andrroy commented on #170
+1, it would be super useful for us to have the current code released to a new version. Right now, we have the same problem as @bryanhelmig, where we have to fork on order to get the latest code

[2018-05-14 13:56] asodeur opened #176 "Support new multiple inheritance syntax"
`graphql-js 0.13` introduced a new multiple inheritance syntax, see [#1169](https://github.com/graphql/graphql-js/pull/1169). `relay 1.6` will no longer support the old syntax, see [release notes](https://github.com/facebook/relay/releases).

Implementing the new and dropping support for the old syntax is straight forward (patch attached) but would be a breaking change. A switch like `useLegacySDL

[2018-05-15 13:00] altaurog commented on #160
I think I would expand this to “better tooling for examining the ast from resolver functions”

There has been a bit of discussion (graphql-python/graphene#348) about how get a list of selected fields in a resolver function.  The solutions proposed there work for only a subset of cases.  For example, `FragmentSpread` is handled, but `InlineFragment` is not.

What bothers me about the whole approach

[2018-05-15 15:08] Lucretiel commented on #160
I don't know enough about how this is implemented to make a judgement. My primary concern is that ExecutionContext doesn't recurse properly. That is, for this query:

    { myfield { Node { SubNode { x y } } } }

It seems like it will use the same `ExecutionContext` for each nested resolver. I'm fine with providing more, rather than less, contextual information to each resolver, but whatever we pr

[2018-05-17 16:40] Arlus commented on #122
I'm experiencing the same issue.

[2018-05-17 17:53] jkimbo commented on #122
This looks like an issue in sqlalchemy not in graphql

[2018-05-22 02:41] dan98765 commented on #177
It looks like #153 would also solve this.

[2018-05-22 06:01] dan98765 commented on #29
We're having success doing query depth limiting & node based limiting in middleware.

[2018-05-22 16:37] dan98765 commented on #155
I confirm that the middleware's `resolve()` methods get called in reverse order from how they're listed when passed into `schema.execute`. Let's say your middleware is:
[code]
and you call:
[code]
Then the printed output is:
[code]

This makes me wonder if perhaps it was intentional to have middleware called in reverse order, and the intention was that `then()` set up by the middleware would wind

[2018-05-23 21:52] dmalisani opened #182 "Using problem (ignore)"
I'm trying that it works the following code , but despite I tested qs result is correct just before return... The final result (showed in frontend) is obtained from the default database.
What is there in middle?
This is a no desirable result

def resolve_articulos(self, *args, **kwargs):
-- usuario = args[0].context.user
-- if not usuario.is_authenticated:
---- return Articulo.objects.none()
-- el

[2018-05-25 16:15] jkimbo commented on #182
@dmalisani I'm not sure I understand the problem. Can you include an example of the problem that I can reproduce?

[2018-05-27 21:32] dmalisani commented on #182
Ok, my English is not very good, but I'll try

There is no much code for show it...
I describe my problem.
Each user has assigned a database (they are named in settings.py)
I'm trying that graphene get results from such database according to user.

Resolve def (pasted in my issue) works fine.
If I print just before return line... I can see right result,
But at front-end (default graphene test fron

[2018-06-05 05:30] syrusakbary commented on #127
Fixed in #186

[2018-06-05 05:30] #127 closed

[2018-06-05 16:53] dfee commented on #152
Unfortunately, I don't think it's been merged yet.

[2018-06-09 04:17] dan98765 opened #189 "Invalid python 2.7 syntax in MiddlewareManager"
https://github.com/graphql-python/graphql-core/blob/24be647e0cf12b0a12d858c4791f34a9bd210be3/graphql/execution/middleware.py#L13

Sadly having *args before a kwarg is only allowed in py3+.

https://stackoverflow.com/questions/22435992/python-trying-to-place-keyword-arguments-after-args

https://stackoverflow.com/questions/38595509/python-2-7-functions-with-positional-keyword-arguments-as-well-as-v

[2018-06-10 02:10] japrogramer commented on #63
I get an error

[code]

[code]
[code]

[2018-06-13 19:51] syrusakbary commented on #189
Just fixed this in: https://github.com/graphql-python/graphql-core/commit/b24cece36c00975f39751b2cff7538604c329520

Thanks for the ping!

[2018-06-13 19:51] #189 closed

[2018-06-15 12:58] dmalisani commented on #182
There is a bug (I think) in **DjangoFilterConnectionField**
I have following code:
[code]
if I use
**articulos = graphene.List(ArticuloNode)**
works as I expect (it choices right DB according to user)
but if I use
**articulos = DjangoFilterConnectionField(ArticuloNode)**
it ignores DB choice and show result from default db
despite that I can see that used right resolve_articulos but It's overrided

[2018-06-26 08:20] yywing commented on #166
Any progress？？

[2018-06-28 19:19] jadamsBG opened #194 "Cannot subscribe to more than one field"
Attempting to subscribe to more than one field will only return the first one in the list. There is some obvious offending code in executor.py:
`def subscribe_fields(exe_context, parent_type, source_value, fields):
    exe_context = SubscriberExecutionContext(exe_context)

    def on_error(error):
        exe_context.report_error(error)

    def map_result(data):
        if exe_context.errors:

[2018-06-28 23:18] dan98765 commented on #170
+1 would be useful, in particular to get the feature of having 'path' in the error output in a version on pypi.

[2018-06-29 16:49] nikordaris commented on #166
I haven't tried looking through the source again to try to figure it out. I just stopped using default_value for enums. Which sucks but not currently critical for my projects. I hope this issue can get some love from someone

[2018-07-05 22:44] syrusakbary commented on #182
@dmalisani it seems the issue is related to graphene-django, could you post it there? It will help to localize a fix for it ;)

[2018-07-11 17:40] syrusakbary commented on #171
Hi,

This behaviour is intended.
You can solve it by typing the variable as `Float`, but sending it a `Int` value. Such as:

[code]

This way, the coercion will work just fine :)

[2018-07-11 17:40] #171 closed

[2018-07-11 17:44] syrusakbary commented on #152
Thanks to @ciscorn awesome work on #184, `AsyncgenObservable` is no longer needed.

Closing the issue, but feel free to re-open it once RxPy vNext is released :)

[2018-07-11 17:44] #152 closed

[2018-07-11 17:46] syrusakbary commented on #104
This issue is now resolved in latest versions :)

[2018-07-11 17:47] syrusakbary commented on #170
New versions are being released, with tons of improvements.
Feel free to use them by doing `pip install "graphql-core>=2.1rc3"`

[2018-07-23 18:43] congocongo opened #199 "Missing return in GraphQLEnumType.serialize"
Guess there must be a return for PyEnum type

https://github.com/graphql-python/graphql-core/blob/02605b1adce7b287fa9ee6beacd735882954159a/graphql/type/definition.py#L518-L528

[2018-07-26 17:07] picturedots opened #201 "Null value from non-required enum field raises exception"
I've been searching for the underlying cause of the error in graphene-django that breaks Django choice fields when the value is blank:  https://github.com/graphql-python/graphene-django/issues/474 . This is a regression, new since graphql-core 2.1.

The validation for an enum value new in version 2.1  doesn't seem to take into account whether or not the field is allowed to have  a null value befor

[2018-07-27 19:15] atomboulian commented on #201
I'm experiencing the same issue. Please help <3

[2018-08-08 09:07] jckw opened #203 "Include `extensions` field in GraphQLError."
The [GraphQL docs](http://graphql.github.io/graphql-js/error/#errors) specify a field called `extensions` is available for a GraphQLError. GraphQL Python does seem to have a ['slot'](https://github.com/graphql-python/graphql-core/blob/master/graphql/error/base.py#L13) for this.

Users could add the field using a wrapper, but it looks like something that could easily be added to the class – unless

[2018-08-26 15:09] elnygren commented on #142
Thans for everyone involved in the fix! Indeed, using `logging` is much better than `sys.excepthook`

@tlinhart as you can see from the PR, the logger is created as `logger = logging.getLogger(__name__)`. The `__name__` is relevant for deciding whether the logged entry will show up in your final errors logs (and/or console stdout/stderr). To learn how this is done, refer to any python `logging` mo

[2018-08-28 14:07] nikordaris opened #206 "Expose ExecutionResult extensions"
Currently there is no way for the middleware or resolver to set data in the `extensions` field of the `ExecutionResult` response object. This prevents the use of tools like performance tracing or metadata injection.

[2018-09-12 01:35] nikordaris commented on #177
I think my PR for exposing `extensions` might also solve this problem. https://github.com/graphql-python/graphql-core/pull/205. This optionally allows middleware to return the ExecutionResult object which in theory would allow you to set both an error and data object as the return value.

[2018-09-13 05:27] Falieson commented on #29
Here's some more about it from the JS world:
https://blog.apollographql.com/securing-your-graphql-api-from-malicious-queries-16130a324a6b
https://github.com/pa-bru/graphql-cost-analysis

[2018-09-24 09:57] flacerdk opened #208 "Exception traceback disappears when running middleware"
Here's a small example that illustrates the issue:

[code]

If we execute a query without any middleware, we get the traceback:

[code]

But if we run it with the middleware, we get very little information:

[code]

While investigating the issue, it looks like the point the traceback gets lost is around https://github.com/graphql-python/graphql-core/blob/master/graphql/execution/executor.py#L529.

[2018-09-28 14:48] ods opened #209 "Error masking and internals leaking in error handling"
There are several places ([`execute_graphql()`](https://github.com/graphql-python/graphql-core/blob/master/graphql/graphql.py#L72), [`complete_value()`](https://github.com/graphql-python/graphql-core/blob/master/graphql/execution/executor.py#L530), [`complete_value_catching_error()`](https://github.com/graphql-python/graphql-core/blob/master/graphql/execution/executor.py#L489), [`ExecutionContext.

[2018-10-07 23:17] cobalamin commented on #209
This has been bugging me a lot, since I want to raise and catch my own Exception subclasses for some occasions in my app. The library currently makes this impossible, without changing the code in there too.

Using `except Exception as e` has pretty much never been a good idea :/ But looking through the code, I see it pop up in a lot of places, so I wasn't sure where to start. @ods I saw that you c

[2018-10-08 05:09] ods commented on #209
Yes, it did so far. There are actually two commits in my fork: second is to silence annoying noise in logs. I'm going to issue a pull request after some time of using it in our project.

[2018-10-15 13:04] joar commented on #104
I'm guessing it's fixed in 2.1, is that correct?

[2018-10-15 14:12] syrusakbary commented on #104
That's correct

[2018-10-17 18:42] ods commented on #209
Pull request: #211

[2018-11-07 21:52] chinskiy opened #216 "UnicodeDecodeError in format_error"
Greetings!
After upgrading from
[code]
to
[code]
on **python 2** I faced with `UnicodeDecodeError: 'ascii' codec can't decode byte 0xd0 in position 0: ordinal not in range(128)` issue when execute smth like

[code]
when error has non-ASCII characters like `Ошибка`

And seems like backward incompatibility appears after [this](https://github.com/graphql-python/graphql-core/commit/52de303855de6950993

[2018-11-12 23:07] avivey opened #217 "schema_printer should include descriptions"
`schema_printer.print_schema` produces a nice SDL, but it should also include the description strings, because "Documentation is first‐class feature of GraphQL type systems" ([from the spec](https://facebook.github.io/graphql/June2018/#sec-Descriptions)).

[2018-11-14 05:32] gildub opened #218 "Allow constant names with dash"
Would it be possible to flex the following assert_valid_name check and allow dash?
https://github.com/graphql-python/graphql-core/blob/master/graphql/utils/assert_valid_name.py#L3

For example using the following:
[code]

The reason behind is it's breaking https://review.openstack.org/#/c/575898/16.

[2018-11-16 07:35] yanghg-basefx opened #219 "Out of memory when wrong use graphql with dataloader"
See this code:

[code]

Now, if you run this:

[code]

GraphQL will try to call [format_error](https://github.com/graphql-python/graphql-core/blob/master/graphql/execution/base.py#L58) in to_dict. Most time it's fine, but must note, DataLoader will add all the keys and values in the error message, so if you have a very-very-very long list, It will raise an error message like:

[code]

Imagine, to_

[2018-11-17 14:06] msyfls123 opened #220 "`schema_printer._print_object` should return interfaces joined with '&' instead of ','"
https://github.com/graphql-python/graphql-core/blame/master/graphql/utils/schema_printer.py#L132
[code]
https://facebook.github.io/graphql/draft/#sec-Interfaces
[code]

I do think we can use `&` instead of `,` here, so we can simply print schema to a file rather than fetching it through [graphql get-schema](https://github.com/graphql-cli/graphql-cli) in JavaScript world.
I compare both of them whi

[2018-12-10 05:05] phil303 commented on #217
Just a heads up, https://github.com/graphql-python/graphql-core/pull/222

[2018-12-13 10:36] sergey-komissarov opened #224 "Passing JSONString with value "null" as mutation input leads to an error."
Hello, `graphql-core` 2.1 is unable to parse such values as argument.

Result: `Argument "value" has invalid value "null". Expected type "JSONString", found "null".`

Seems that `None` value is invalid regardless of the argument type. Of course we can handle it by passing `null` via query argument but I still think this is a bug.

Exception stack trace:
[code]

Simple way to reproduce:

Query exam

[2018-12-16 11:06] jkimbo commented on #224
@sergey-komissarov this doesn't look like a bug because you're trying to pass the string `null` to the JSON parser and so it's going to error out. If you have no valid json to pass to the graphene then you shouldn't be passing a value at all.

[2018-12-19 10:30] Alexander3 opened #225 "Query execution hangs forever when BaseException is thrown"
If BaseExcetion will occur during query execution everything hangs. I've tried different executors, but this doesn't help. I used `SystemExit` in example for brevity. My real situation was pytest-django throwing exception when you try to access database.

## Example code

[code]
My debugger shows that it's freezed on this line. Inside `get` promise calls `wait()` and waits forever.
https://github.

[2018-12-26 20:48] jkimbo commented on #224
@sergey-komissarov my apologies you're absolutely right. It looks like the bug is here: https://github.com/graphql-python/graphql-core/blob/fa4eeda36029680205e20059379e89189b946032/graphql/utils/is_valid_value.py#L77-L79

Because `json.loads("null")` returns `None` it's tripping up the validation and throwing the error.

Unfortunately I can't see an easy fix. You might want to try https://github.c

[2019-01-18 17:05] OndraFiedler commented on #176
It should be supported also in parser. Adding ampersand to [ignored_whitespace_characters in lexer.py](https://github.com/graphql-python/graphql-core/blob/master/graphql/language/lexer.py#L201), like this:
[code]
was sufficient to parse my schema, but I am not sure if it can have some unintended side effects.

[2019-01-23 14:41] gildub commented on #218
The typical error would be:
´´´python
.../...
File "/home/gildub/github/openstack/neutron/.tox/py27/lib/python2.7/site-packages/graphql/utils/assert_valid_name.py", line 12, in assert_valid_name
    ), 'Names must match /{}/ but "{}" does not.'.format(NAME_PATTERN, name)
AssertionError: Names must match /^[_a-zA-Z][_a-zA-Z0-9]*$/ but "dhcpv6-stateful" does not.
´´´

[2019-01-23 15:19] marcelombc commented on #41
I don't think this is working. Every time I access the stack from GraphQLLocatedError the stack is None. It seems that when accessing sys.exc_info()[2] the error was already been handled and is no more on the stack.
I created a workaround by creating a decorator to handle exceptions and add stack property to the original error. Then in my CustomGraphQLView I could print the traceback properly. Thi

[2019-01-24 14:59] MichaelAquilina commented on #166
I'm also affected by this. Using default values with Enums currently breaks introspection with our client library (in our case we use Apollo).

Is there a suggested work around for this?

[2019-01-30 03:53] yanghg-basefx opened #227 "I try to write a relay-pyqt similar to relay-react, but there are some questions"
Here are test queries:

[code]

[code]

I want to merge these two queries. So I write a simple script:

[code]

So my questions are:
1. I found though I append `type_field` to query1, the query `Source` are not changed. Will it affect any other thing?
2. After I append type_field to query1, the query1 has been changed. Did you provide any function to copy Document? Or just use deepcopy directly?
3

[2019-02-09 21:45] x0y-gt commented on #137
I think that using this new library solves the problem:
https://graphql-core-next.readthedocs.io/en/latest/usage/sdl.html

[2019-02-10 23:16] rcjsuen commented on #225
I also have this problem. I'm trying to write a [test](https://docs.graphene-python.org/en/latest/testing/) and it seems to hang forever with a (seemingly) harmless GraphQL query.

[code]

https://github.com/graphql-python/graphql-core/blob/9202021fc87db9c175e115016cd53e5d9d085ac6/graphql/execution/executor.py#L142

If I skip the `None` bit here and change the code instead, the test will complete

[2019-02-20 10:04] janosroden commented on #199
Any news on this?

[2019-03-06 02:10] PascalSun commented on #225
I have the same issue, the execution just hang in the `promise.get()` line, I have tried to fork and debug the issue, and found in fact, we can set the timeout for `promise.get(timeout=5)` , so the execution will not hang there.

[2019-03-19 22:13] Cito opened #234 "Revert the removal of the `_value` postfix in the graphql() function"
In f6d79ab051c931cdca0e21683fdac84a8c37a0cf, the `_value` postfix of some of the `graphql()` parameters has been removed and gives a deprecation warning now.

I propose to revert that change (and reverse the deprecation message, i.e. display it now for the shorter names instead), because:

* We want to be as compatible with GraphQL.js (the "GraphQL reference implementation") as possible, including

[2019-03-20 01:40] maebert commented on #208
Is there a good workaround for this until this is fixed in `graphql-core`?

[2019-03-20 03:32] ProjectCheshire commented on #208
@maebert this could be tidied up, but I'm using this middleware which seems to work well.

[code]

[2019-03-20 16:41] dan98765 commented on #234
My understanding is that graphql-core's purpose is to match the js impl as closely as possible. Even in cases where that makes it a bit un-pythonic it makes it easier to keep it up-to-date with the reference implementation in js. I think that's one of the reasons graphene even exists: as a more pythonic, easier-to-use layer on top of graphql-core.

So I'm fine with making the variable names a bit

[2019-03-24 17:59] chinskiy commented on #216
close this cause fixed via #223

[2019-03-24 17:59] #216 closed

[2019-03-27 15:52] Nabellaleen opened #235 "RX dependancy conflict for Python 2.7"
It seems RX > 3.0 is not anymore compatible with python 2.7, so I get this error on graphene-sqlalchemy build, as mentionned in https://github.com/graphql-python/graphene-sqlalchemy/pull/177#issuecomment-477218178

I prepare a PR to fix it

[2019-04-02 19:18] reverie opened #237 "Option to not catch exceptions"
Please add an option to not catch all exceptions. It makes things needlessly difficult to debug, and contravenes the Zen of Python.

[2019-04-02 19:20] reverie opened #238 "Add logging example to documentation"
Judging by the issues on this package and graphene, a lot of users struggle with graphql-core's decision to catch all exceptions. I see that in #41 something was done to make this easier, but it's not clear how to use it. An example of logging/error handling in the documentation would go a long way.

[2019-04-04 07:45] #219 closed

[2019-04-04 07:45] #227 closed

[2019-04-04 12:46] KaySackey commented on #237
It would also be sufficient to document that this is occuring, because workarounds exist:

https://github.com/graphql-python/graphql-core/issues/41

But you did already mention that here:

https://github.com/graphql-python/graphql-core/issues/238

So I +1 you'd there since it seems like a better solution to me. I'm not exactly sure *why* the core is opinionated about catching all exceptions, but I

[2019-04-04 13:34] Cito commented on #237
Can you add some code to demonstrate the exact problem. I would like to check if the same problem exists in graphql-core/modern branch or graphql-core-next or if this is specific to graphql-core.

[2019-04-04 21:02] reverie commented on #237
@Cito Ok, I made a demo project

https://github.com/reverie/graphq_core_demo

![Screen Shot 2019-04-04 at 5 02 15 PM](https://user-images.githubusercontent.com/73446/55588319-74ed4e80-56fb-11e9-856a-d94e3b085ba1.png)
Where is this error happening?

[2019-04-05 00:59] Cito commented on #237
@reverie Thanks. But you are using Graphene and Graphene-Django in this demo. The error catching could also happen at these levels, not down at graphql-core. We need an example that uses only graphql-core.

[2019-04-05 01:26] Cito commented on #237
So I took your example down to the graphql-core level:

[code]

What I observe is that the error is printed, but without any traceback. The traceback ist shown, but only logged to the standard output. Maybe Django can be configured to show that in the server log.

[2019-04-05 03:35] Cito commented on #237
Ok, now I really got to the bottom of it. The above code uses a synchronous resolver. Let's change this to return a promise, like this:

[code]

Now suddenly the traceback is not printed any more. And this is exactly what happens in graphene-django, because the django debug middleware returns promises.

In the case of promises, the error is not raised directly and we need the `stack` attribute of

[2019-04-05 14:08] Cito commented on #237
@reverie can you check if #240 solves your problem? After applying the patch, you should see the location of the error in the console where you start your Django server.

[2019-04-05 16:54] Cito opened #241 "Versioning policy for graphql-python tools"
I think it's time to discuss a versioning and naming policy for the graphql-python tools so we can move forward.

We currently have three "generations" of the underlying core library:

* graphql-core (supports Python 2+3, old API, based on an old version of GraphQL.js)
* graphql-core-next (supports only Python >= 3.6, new API, latest features from GraphQL.js)
* graphql-core/modern branch (trys to

[2019-04-05 17:27] jplock commented on #241
I like the idea of the `graphql-core-next` project being the one and only python GraphQL implementation, retire the other two, and have it replace `graphql-core` (published with a major-version bump to 3.x or something) in PyPI.

[2019-04-05 18:53] Nabellaleen commented on #241
- I think all the `core` projects should be "unified" in the same repository and "differentiated" throught their version number
- I think `graphql-core` is a better name than `graphql-core-next` for the long term. Because `next` is a relative term. So it has sense now, because there is the "old" `graphql-core`, but in the future, this "old" version will disappear, and `graphql-core-next` will be a

[2019-04-05 20:11] ProjectCheshire commented on #241
Similar to above, I prefer a semver policy. Nb We also need to add a toggle on the docs so people can refer to previous versions and the relevant docs.(eg how would this even be done spread across packages? Also, more integration (or even a reference to) the core next docs from graphene)

It makes more sense to install and require based on versions / releases vs switching entire packages. Install

[2019-04-05 21:15] reverie commented on #237
@Cito Thanks for all your work on this! I tried the patch in #240 and it's a big improvement. I think it would help a lot of people if it were merged. That change does not directly solve this issue (#237), though: I don't want graphql-core to catch the exception in the first place. (Why does it do that?)

[2019-04-05 23:00] Cito commented on #237
Because we don't want to halt the whole GraphQL server just because one user sent a failing query.

[2019-04-05 23:13] reverie commented on #237
That makes sense! From Django's perspective graphql-core is just a library, though, and it would be helpful to support that perspective as well.

[2019-04-05 23:26] Cito commented on #237
The idea of catching the errors and returning them as a list is pretty much baked in GraphQL per the specs (see [here](https://graphql.github.io/graphql-spec/draft/#sec-Errors-and-Non-Nullability) for example). That's why it is implemented that way in GraphQL.js which graphql-core replicates.

Note that it is possible to re-raise the errors that are returned by GraphQL with the same stacktrace if

[2019-04-06 07:50] KaySackey commented on #237
How about two modes. During development let errors optionally break out of graphene. This will allow normal usage of the debugger. At the moment, I have to place a debug break point inside the graphene codebase in order to get a live stack on exceptions.

The other option would be to log errors via standard python logging module, before returning the error list to the user. This would work seamles

[2019-04-06 15:28] Cito commented on #237
The logging happens already through the logging module. What you see on the console are actually log messages that you can send anywhere you want, configurable via the Django configuration.

If you really want to re-raise errors, then you need to do this on the level of Graphene-Django, because anything that Graphene throws is caught by Graphene-Django anway and wrapped into a ExecutionResult in `

[2019-04-06 21:58] mvanlonden commented on #241
Yes given our initial maintenance momentum, I think we need to cut out additional work where we can.

Agree with @Nabellaleen. `graphql-core` is a better name. I think it would make sense to move `graphql-core-next` into `graphql-core` as a branch and use semver when we are ready to move the version forward.

Yes! Although if we abandon modern it would be core = 2.x, core-next = 3.x

[2019-04-10 16:24] reverie commented on #237
@Cito That makes sense. Thank you for your help with this!

[2019-04-11 10:54] ambientlight opened #242 "Possible logic issue with unreachable code"
Was looking into subscriptions and found this:

https://github.com/graphql-python/graphql-core/blob/9333075c657e91e563c09add8464f3758e317749/graphql/execution/executor.py#L306-L312

The desired intention here is merging field subscriptions into single observable?

[2019-04-15 20:30] ekampf commented on #242
It does like like `return observable` shouldn't be there.

[2019-04-18 11:28] dsanders11 opened #244 "Usage of Asserts Breaks Code"
This project uses asserts in a lot of places (I found about 100 cases) where they should **not** be used. They're being used to validate arguments to functions, where the normal Python way would be to use a `TypeError` or a `ValueError`. Assertions are essentially debug code, not code for validating arguments.

Any usage of optimize mode or Python (`-O` or `-OO`, or `PYTHONOPTIMIZE`) strips out as

[2019-04-18 16:37] Cito commented on #244
@dsanders11, this project is still active and has maintainers (again). In [graphql-core-next](https://github.com/graphql-python/graphql-core-next/), which will become the next version of graphq-core, I'm using TypeErrors and ValueErrors for the same reasons. Your proposed PR for graphql-core sounds reasonable to me.

[2019-04-19 17:05] ekampf commented on #244
I actually disagree with disallowing asserts.
The asserts are not here to test anything that might actually happen in runtime, and should be fun to be removed in production environment (meaning they shouldn't be used for things like user data validation etc)

If any assert does not match the statement above we should fix it...

I would use the following guidelines on when not to use assert (blatan

[2019-04-20 17:05] dsanders11 commented on #244
I disagree with that.

My use-case involves generating schemas dynamically at runtime, based on inputs. With assertions disabled, a bad schema can be created instead of an error occurring. An existing project example of this is `graphene-django`. It uses `assert_valid_name` from this project to handle cases of invalid names when generating enums from a model. If the enum values aren't valid GraphQ

[2019-04-23 21:26] ekampf commented on #244
@dsanders11 if you create a schema dynamically you still shouldn't reach most of the cases I see in your PR.
Like create a Connection type with Meta definition?  Call `NodeField` with an object that is not a `Node` ?

A good example for something that's not an assert is in your PR where you fixed the `Date(Scalar)` `serialize\deserialize` methods.
Those checks should not be `asserts`, *but* they s

[2019-04-23 23:35] dsanders11 commented on #244
@ekampf, I think we're going to continue to have fundamental differences of opinion here.

Asserts shouldn't be used to validate input to a function or method. That's what `TypeError` and `ValueError` are for. From the official Python documentation:

What asserts *should* be used for is to validate assumptions and post-conditions. Assertions triggering should mean there's a bug in your code. Someo

[2019-04-29 20:23] Cito commented on #241
I suggest to get the ball ralling, we call the Py3-only version 3, and use this version numbers also for the other projects - i.e. Graphene 3 should be Py3-only and use graphql-core-next. If somebody still wants to create and maintain the Py2+3-compatible branch, it can still be release as 2.5 then. I think is more intuitive than using versions 3 and 4, particularly if 3 never happens.

[2019-05-04 06:00] changeling commented on #241
I completely support the idea of graphql-core-next becoming graphql-core version 3.

I suggest there be a very, very clear point of communication outside the `Issue` discussions, pointedly available for all related and dependent packages  illustrating the plan, the roadmap and intended changes to core packages. I'd suggest that at this point there may be some value in using wiki, duplicated in bot

[2019-05-04 09:35] Cito commented on #241
I definitely care. My idea is to keep core and core-next as separate repositories. They would be released under the same graphql-core distribution name on PyPI, differentiated by their version number ranges. I'm still waiting for more feedback from the community and from Syrus, who also needs to give push access to the PyPI project. That's why for now I have still published the current release as

[2019-05-04 11:40] eMerzh commented on #241
Yeah sounds good to me, let start with a version 3! And avoid wasting too much time on 2 project and let the project stale during this time....

Again thanks a lot(!!) For moving this forward.

[2019-05-04 17:03] changeling commented on #241
That approach gets my vote!

It's honestly kinda stunning how far it came as a one-person project. Major kudos and thanks, @syrusakbary.

[2019-05-05 13:43] jamesstidard opened #246 "Little help with subscription middleware"
Hi,

I've been playing around with graphql in [this](https://github.com/jamesstidard/Dixtionary-Server) little test server. It's the server side implementation for a pictionary type game. I've managed to get queries, mutations and subscriptions working with python 3 style `defs`, `asyncdefs` and `asyncgenerators`.

I've used middleware on the http query/mutation requests without issue, however, ge

[2019-05-14 02:18] enewhuis opened #247 "Violation of Liskov Substitution Principle"
https://github.com/graphql-python/graphql-core/blob/3ba7f9218bca7a039b109b103cf57b1511d970c7/graphql/execution/executor.py#L704

Above referenced line violates Liskov Substitution Principle when used with at least Graphene-Django and the underlying model is itself a subclass of aDjangoObjectType.Meta.model class.

A popular variant of this violation is use of django-polymorphic, which is quite pre

[2019-05-21 22:35] tony commented on #41
Related: https://github.com/graphql-python/graphql-core/issues/237, https://github.com/graphql-python/graphql-core/issues/209, https://github.com/graphql-python/graphql-core/issues/202

After viewing the issue tracker, I'm not sure if there is a best practice for handling errors at the core level.

[2019-05-21 22:50] tony commented on #237
Related: #41, #202, #209 (Just to keep track of issues since I've came to them inbound on google)

I'm still a bit overwhelmed by all the information.

It's difficult to narrow down the chain of responsibility. It'd be nice to see documentation/recipes that are authoritative and up to date that we could cite as a best practice, which we could in turn take downstream to graphene -> graphene-django/

[2019-05-22 07:27] eMerzh commented on #241
@Cito doesn't want to push you here,
but do you have an idea if your plan is settled? and if yes do you have an estimated timeframe for the publish of the version 3. ?

[2019-05-22 14:19] Cito commented on #241
@eMerzh Still waiting to get the PyPI maintainer permssion for graphql-core in order to do that - will address this problem at our next meeting.

[2019-05-24 22:23] mvanlonden commented on #241
@Cito if we migrate [graphql-core-next](https://github.com/graphql-python/graphql-core-next) into [graphql-core](https://github.com/graphql-python/graphql-core) and release graphql-core-next as v3 in graphql-core, we can still release without access to PyPI. Our meeting next week should illuminate the path forward but just wanted to write this out as a possibility.

[2019-05-25 11:47] Cito commented on #241
I think the problem should be solved fundamentally.

First, I'm adamant that the maintainers of graphql-core need maintenance rights on PyPI and have the freedom to deploy to PyPI in any way they see fit. Syrus could still stay the project owner so I see no problem here.

And I'm not sure if merging the repositories would be good because people usually look only at the README of the master branch.

[2019-05-25 20:03] mvanlonden commented on #241
Yes I agree—the problem should be solved fundamentally. I've reached out to @syrusakbary to see if he's available to grant the maintainers PyPI permissions.

If we do end up releasing graphql-core-next as graphql-core v3 then I think it would make sense to change the repo name to graphql-core and the current graphql-core repo to graphql-core-legacy or something similar. The repo with the most rece

[2019-05-25 21:35] changeling commented on #241
Just my two cents, but if the path forward is `graphql-core` v3, it seems like the goal, at least, if not the immediate path, should be for `graphql-core` `master` to _be_ v3, with a reference in the README to the v2 structure/branch. This would allow for PyPi distribution to be appropriately versioned, correct, rather than bifurcated?

This would allow strong focus going forward on the v3 branch,

[2019-06-02 13:00] jayhale commented on #237
I don't agree that this is a valid need - an exception in a Django view doesn't halt the whole Django server. Instead the server replies with HTTP 500 and continues handling requests. Error handling is explicitly managed by Django.

In cases where `graphql-core` is being used with other frameworks, I would expect it to behave as other contributing libraries, handling only the graphql-related tasks

[2019-06-02 13:23] Cito commented on #237
In GraphQL the server still sends a HTTP 200 with the error as part of the execution result in JSON format. This is only unexpected for developers who are accustomed to REST, but the expected behavior for GraphQL.

Again. error handling **is** a GraphQL-related task per the [specs](https://graphql.github.io/graphql-spec/draft/#sec-Errors).

And the goal of graphql-core is to just implement the Gra

[2019-06-02 14:04] jayhale commented on #237
@Cito, all makes sense.  I'm suggesting that a developer should be allowed to choose what the `graphql-core` library get's tasked with, especially what get's sent back to the user.  In other python web frameworks, the convention is that *no* error information reaches the user - and developers rely on this to avoid leaking sensitive data back to the user.

I'm advocating for a configuration option.

[2019-06-02 16:24] Cito commented on #237
@jayhal But you *do* have full flexibility already. GraphQL-core is just a library that lets you build schemas and run queries against the schema, returning results and an errors list according to the spec - what you do with these results and errors is totally up to you or the server component you're using. You can raise the errors, or send them to the client (in development mode), or log them on

[2019-06-04 18:24] AlexanderMann commented on #237
Just read over @Cito's work in https://github.com/graphql-python/graphql-core/pull/240 and am curious if there's anything the community can do to help see this merged into master and released?

@ProjectCheshire I see you reviewed that pr already, are there more helpful folks like yourself kicking around on the GraphQL-Core team who can help this thing move along?

[2019-06-07 00:09] reverie commented on #237
I think Cito's patch is now returning too much info to the client. I don't want them getting details about my database ids and constraints.

It seems like the right solution for my use case would be to write a graphene middleware. Graphene middleware can look at the response before it goes out. What I'd like to do is check for `errors` on the response, and if they're present, email myself a stack

[2019-06-07 08:49] Cito commented on #237
@reverie GraphQL-Core is at the lowest level. Filtering and dispatching of errors and stack traces should happen at higher levels like Graphene-Django, and depending on whether you're running in production or development mode. Regarding the error messages, note that GraphQL-Core-Next uses a special inspect() method instead of repr() for error messages which reveals less internal information and is

[2019-06-07 12:27] jayhale commented on #237
@reverie agreed. The behavior of all errors being serialized and passed to the client is an undesirable default.

It breaks other `except` statements in higher-level libraries as well and requires dedicated error handling since exceptions get added to the response as an attribute.

[2019-06-11 23:54] reverie commented on #237
I think I've finally cracked this. The solution looks like the one in this blog post: https://medium.com/@martin.samami/make-graphene-django-and-sentry-exceptions-work-together-f796be60a901

Like Cito said, what you want is to create a custom GraphQLView. In my case, we're first logging the exception, then, for security reasons, removing all exception details from response to the client.

[2019-06-19 15:55] jkimbo opened #249 "☂️GraphQL-core v3"
We will shortly be publishing [GraphQL-core-next](https://github.com/graphql-python/graphql-core-next) as v3 of GraphQL-core. There are breaking changes as part of this release and so this issue is to track all the tasks needed to get the ecosystem ready for the upgrade.

# Pin dependant packages

* [x] [Graphene](https://github.com/graphql-python/graphene)
* [x] [GraphQL-server-core](https://gith

[2019-06-28 16:37] mvanlonden commented on #249
Governors don't have access to gql, aiohttp, and webob. Otherwise, all the approvals are in place

[2019-06-28 16:49] mvanlonden commented on #249
Emailed @syrusakbary about adding governors to the remaining repos in graphql-python

[2019-07-10 01:14] japrogramer commented on #166
@MichaelAquilina  I would give it a default value in the resolver,

input.get('my_enum', MyEnum.FOO.value)

[2019-07-11 05:53] jnduli opened #250 "Add support for __str__ in ExecutionResult"
I was writing tests for graphene-django, when one of my tests failed. I could not easily figure out why, but printing the result of the query returned:

[code]

which I think is not really helpful. The only way to figure out what was happening was to find out how the ExecutionResult object was coded, and call the `to_dict` function, which resulted in:

[code]

which is significantly better.

## Su

[2019-07-12 16:47] eMerzh commented on #169
it seems that directives are supported :)
you can define your
[code]
and query it, should be ok :)

[2019-07-17 21:04] jeremytubbs opened #251 "RxPY v3.0 requires Python 3.6"
The recently released https://github.com/ReactiveX/RxPY requires Python 3.6 and breaks installation.

An update needs to be made to https://github.com/graphql-python/graphql-core/blob/master/setup.py#L24

#236

[2019-07-17 21:06] #251 closed

[2019-07-17 21:26] jeremytubbs commented on #235
+1

[2019-07-18 18:28] Cito commented on #235
Fixed in version 2.2.1.

[2019-07-18 18:28] #235 closed

[2019-07-18 23:51] rafales commented on #199
Any news on this? It breaks using standard `enum` module.

[2019-07-19 19:57] Cito commented on #199
Has been merged now, will be in next patch release.

[2019-07-19 20:55] qqi0O0 opened #252 "AST nodes implements __hash__ by id(self) while __eq__ is based on value"
All classes in language/ast.py implement `__eq__` by comparing values, and implement `__hash__` by id. This violates basic properties such as

a==b => hash(a)==hash(b)

This leads to issues like:

[code]

AST nodes should probably just not implement `__hash__`, since nodes are mutable.

[2019-07-19 21:47] Cito commented on #252
Thanks for pointing this out. You're right that equal nodes should have equal hashes.

There are a some places (particularly in validation) where nodes are used as keys of dicts, so before removing the `__hash__` methods we need to check if we can change the code in these places so that the nodes do not need to be hashable.

Feel free to work on this and send a PR. Otherwise I will look into this

[2019-07-26 15:30] dperetti commented on #224
I don't understand why it is not fixable? 🤔

[2019-08-01 21:32] Cito commented on #252
This has been [fixed](https://github.com/graphql-python/graphql-core-next/commit/b5532a4621871f5558e1e59dbc83d2b5dd4f60f8) in graphql-core-next (graphql-core version 3).

I think we should leave it as it is in graphql-core 2 for compatibility reasons.

[2019-08-01 21:32] #252 closed

[2019-08-05 10:01] Cito commented on #249
Please note that an alpha version of graphql-core v3 is available now on PyPI.

Please test and give us feedback!

[2019-08-06 13:51] Siecje opened #253 "Improve log errors"
With the current log error call log message sent to Sentry are being truncated.

https://github.com/graphql-python/graphql-core/blob/master/graphql/execution/utils.py#L155

https://forum.sentry.io/t/tracebacks-are-being-truncated/7304/2

One solution is to use `log.error()` with `exc_info=True`.

https://forum.sentry.io/t/some-stack-traces-are-truncated/7309

[2019-09-05 20:24] lucasgnavarro commented on #118
What happened with this? It's sill alive?

[2019-09-10 13:34] McPo opened #255 "Unable to return Null/None in a custom Scalar type"
Attempting to return None if the image is a blank string

[code]

but am receiving the following error

Going by the comment at https://github.com/graphql-python/graphql-core/blob/master/graphql/execution/executor.py#L615 this should be possible, however the code does not imply that its possible.

There appears to be PRs for this feature (By adding an explicit NullValue)
https://github.com/graphql

[2019-09-10 13:48] McPo commented on #255
Ended up having to monkey patch it
[code]

[2019-09-10 13:57] McPo commented on #255
Also regarding graphene-django and django-core v3. I just saw this post https://github.com/graphql-python/graphene-django/issues/705

Looks like it will be coming in the near future.

[2019-09-10 13:57] #255 closed

[2019-09-11 11:35] Cito commented on #118
The current development is going on in [GraphQL-core 3](https://github.com/graphql-python/graphql-core-next). GraphQL-core 2 is not really maintained any more, and no new features will be added.

[2019-09-17 16:33] McPo commented on #255
Another way to do it is in the resolver thats passed to the field. No monkey patch required.

[code]

[2019-09-27 13:34] lucassimon commented on #208
This traceback it's just print on console, because the tests ran ok.

[code]

[code]

[code]

[2019-10-10 16:41] NyanKiyoshi opened #256 "Executing a GraphQL query containing types crashes"
If we run for example the following query:
[code]

The graphql-core will crash with the following stack trace:
[code]

[2019-10-11 22:05] #256 closed

[2019-10-11 22:06] Cito commented on #256
Thank you for the bug report and pull request.

[2019-11-04 18:41] gabelimon commented on #201
I'm experiencing this issue as well. Is there a recommended way to let enum fields be `None`/`null`? Example

[code]

[2019-12-17 19:44] jarcoal commented on #201
I'm curious if one of the maintainers could weigh in on this.  We have a lot of places in our codebase where we'd like to have nullable enums, but if this isn't getting fixed we'll probably go another direction.

[2019-12-17 21:20] Cito commented on #201
@jarcoal: This repository is for version 2 of graphql-core only which is not under active development any more.

Current development in version 3 has moved to https://github.com/graphql-python/graphql-core-next.

[2019-12-17 21:54] jarcoal commented on #201
@Cito thanks for the heads up, I'll start tracking graphene's progress on switching over to that.

[2019-12-22 15:04] blazewicz commented on #63
@japrogramer you propably found solution already but I think this issue requires some conclusion

`schema.execute()` with default value of `return_promise` - a `False` - will fail in asyncio context (when run from a coroutine) with "Event loop already running" Exception. This is because `execute` internally calls `wait_until_finished()` which always tries to start the loop. Puropose of this functi

[2019-12-30 18:07] Cito commented on #241
This question still needs to be decided. We have two options:

1. Rename graphql-core to graphql-core-legacy and graphql-core-next to graphql-core.

2. Merge the graphql-core-next master into graphql-core, after creating a v2 branch, and delete the graphql-core-next repository.

If we go with 2, we should at least keep the commit history, because the commits in core-next contain references to the

[2019-12-30 19:39] jkimbo commented on #241
@Cito I agree, option 1 makes the most sense.

[2019-12-31 00:57] Cito commented on #234
Ok, so I have reverted this change now. Starting with v2.3 the old parameter names will be valid again. The short parameter names still work, but will now produce deprecation warnings.

[2019-12-31 00:57] #234 closed

[2019-12-31 01:05] Cito commented on #145
Version 3 of graphql-core is pretty much up to date with the current graphql-js now.

Version 2 of graphql-core will not get larger updates in order to stay backward compatible.

[2019-12-31 01:05] #145 closed

[2020-01-03 20:19] IPetrik commented on #149
I arrived here because I am trying to get [this example](https://stackoverflow.com/a/50615381/1104581) to work:
[code]
But I get the same error `[GraphQLError('Subscription must return Async Iterable or Observable. Received: <async_generator object Subscription.resolve_count_seconds at 0x0000024F3AE450D0>')]` as the original post in this issue thread. What is the proper way to use an async iterato

[2020-01-07 09:56] claudiuapetrei opened #261 "serialization error"
Hi,

Is it expected behavior for a serialization errors to be  TypeError insted of GraphQLError ?

For example the test below where the resolver returns a dict instead of int, had a issues and it was a bit hard to debug without the exception.path info.

[code]

The issues seems to be in executor.py complete_leaf_value.

[2020-01-09 18:51] hamidfzm opened #262 "Bug: Using a variable in multiple queries only works for first query"
I'm using python graphql 2.2.1 with python 3.7. And here is my query:
[code]
with the following variable:
[code]
So here is what happens:
`filter` variable is only pouplated in `allPhotos` query and `_allPhotosMeta` `filter` variable is `None`. But if I add a new varible like `filter2` equal to `filter` I get the correct result. This only happens in Python. It's ok in NodeJS.

[2020-01-23 13:36] Cito commented on #262
Can you post a complete test case?

Here is what I did trying to reprpduce it, but it works for me:

[code]

[2020-01-23 14:06] Cito commented on #261
As far as I see, this is expected in GraphQL 2.  complete_value_catching_error generally does not wrap errors as GraphQLLocatedErrors.

Note that this is all fixed in GraphQL 3. GraphQL 2 is not maintained and improved any more, except for security fixes and actual bugs.

[2020-01-23 14:06] #261 closed

[2020-01-23 14:18] Cito commented on #237
Closing this since current development happens in version 3 and this is the repository vor version 2.

[2020-01-23 14:18] #237 closed

[2020-01-23 14:25] Cito commented on #218
That would be against the GraphQL spec https://spec.graphql.org/June2018/#sec-Names

[2020-01-23 14:25] #218 closed

[2020-01-23 14:48] #199 closed

[2020-01-23 14:48] #201 closed

[2020-01-23 14:49] #182 closed

[2020-01-23 14:50] #146 closed

[2020-01-23 14:56] #75 closed

[2020-01-24 04:47] achimnol opened #263 "mypy reports invalid syntax with validators/rules/overlapping_fields_can_be_merged.py:344"
The line 344 and 345 in `overlapping_fields_can_be_merged.py` causes mypy 0.761 to report invalid syntax error during type checks.

My program with graphql-core runs just fine at runtime and in fact those lines are in a valid Python syntax though look strange (orphaned expressions).

But I think if they aren't intended codes, then I'd like to suggest to fix them.

Here is [the CI report link.](htt

[2020-01-24 04:51] achimnol commented on #263
This might be related to python/mypy#8218.

[2020-01-24 10:25] Cito commented on #263
Thank you for reporting this @achimnol. I believe these two lines have been accidentally copied into the code when Syrus added the type hints, since these serve not purpose as you already noticed.

I have removed the lines now completely. Interestingly, they were not detected by our CI. I found the difference was that your CI is using Python 3.8 and ours Python 3.7. It seems mypy behaves different

[2020-01-24 10:33] #263 closed

[2020-01-24 16:33] benhowes commented on #263
Would it be possible to get a release of this please :pray:

[2020-01-24 21:59] Cito commented on #242
The reason for this is probably that the whole code is only tested and functional when there is only one field anyway. Note that there is a commented out assert statements that checks that this is the case.

I have now removed the return statement and short-cutted the merge operaton in case there is only one field. However, a proper fix would be to either make sure and test this works with multipl

[2020-01-24 21:59] #242 closed

[2020-01-24 22:37] Cito commented on #194
To solve this, one would need to dig deep into the subscription code and add tests for subscribing to multiple fields (or improve the existing `test_accepts_multiple_subscription_fields_defined_in_schema`).

Not sure if it's worthwile since this is legacy code - current development happens in GraphQL core 3. But leaving this open for anybody who is willing to tackle this.

[2020-01-24 23:37] Cito commented on #263
New release 2.3.1 with this and a few other minor fixes is out now. 😄

[2020-01-26 07:45] achimnol commented on #263
Thanks!

[2020-02-12 18:14] xarpy opened #264 "Package incompatibility with graphql-core v3"
Hello guys, I already use the graphene package with its dependencies in a commercial project, created with Flask. It's great, however I always keep an eye on the process of updating and using new resources and I thought it would be time to update the project's facilities. However, in the update process, both graphql-server-core, flask-graphql, graphql-relay, graphene packages complain about the ne

[2020-02-12 20:28] Cito commented on #264
It seems you have installed several tools that require GraphQL-core 2 (the legacy version), so you cannot upgrade to GraphQL-core 3. If you want to upgrade, you must check if there are already newer versions of your tools that are compatible with GraphQL-core 3 and use these instead. E.g. Graphene 3 is based on GraphQL-core v3, Graphene 2 is based on GraphQL-core v2. For some of the tools, there m

[2020-02-12 20:28] #264 closed

[2020-02-13 02:15] xarpy commented on #264
Thanks @cito, when the project started we didn't have a third version yet. We believed that the packages would follow the versioning standard, so we didn't find incompatibility.
Now we really have to wait and in whatever way the team can improve the project to move forward together.

[2020-02-13 11:38] Cito commented on #264
Where do you think packages do not follow a versioning standard? Some tools did not have proper version limits for a while, but I think that has be solved already. E.g. graphql-server-core 1.2.0 has the proper requirements "graphql-core<3,>=2.3" as you see in your error message.

It's just that you can't use graphql-core 3 when you are still using older tools requiring graphql-core 2, just like yo

[2020-02-13 11:46] xarpy commented on #264
Sorry that it looked like you were just taking advantage of the work you did. I am aware of the sacrifice for maintenance and all the effort of the team, whenever we have a passion for something it is crucial to keep improving. So, in whatever I can help, I am willing to collaborate with the projects.
So, as I said before, thank you very much for the contribution @cito and the rest of the team.

[2020-02-13 12:41] Cito commented on #264
No, don't worry, all is well, I just wanted to describe the current situation. Every feedback and help is appretiated.

[2020-02-24 06:43] litchfield opened #266 "Pickle support for schema objects"
Anyone tried pickling schema objects? I'm getting recursion errors.

Initialisation time seems really expensive for large schemas.

[2020-02-25 21:51] JoaRiski opened #267 "Add support for custom validators in default GraphQL backend"
The default GraphQL backend seems to perform validation prior to execution of a query. The validators that are being run are statically defined in https://github.com/graphql-python/graphql-core/blob/fe703f0d176c78b205d2abf929193f1e910fe4a0/graphql/validation/rules/__init__.py#L32-L57, and there doesn't seem to be a very good way to add custom validators to this list.

It would be nice to be able t

[2020-02-28 00:52] KingDarBoja commented on #241
I was going to suggest renaming the `graphql-core` as some carbon nanostructure like `graphite` so it matches the same family as `graphene`.

But glad to read the whole topic and see you guys went with the semantic versioning path as this is a widely accepted standard to release new versions instead of keeping them on separate projects.

As someone pointed out, the docs regarding each version can

[2020-03-06 09:30] drsjmiddleton commented on #246
I'm working on this now - did you find any solutions

[2020-03-06 10:18] jamesstidard commented on #246
It's been a little while since I worked with this framework. I actually can't remember if I addressed everything in this issue. You are welcome to take a look at my project and see what I did.

https://github.com/jamesstidard/Dixtionary-Server

I can maybe look later after work to see if there's anything particular I can direct you are / say.

[2020-03-23 12:09] blazewicz opened #272 "mypy errors with AsyncioExecutor(loop=asyncio.get_event_loop())"
With current version of `mypy` any project using `AsyncioExecutor` with `loop=` argument provided as follows:

[code]

 fails type check with following error

[code]

Basically `asyncio.get_event_loop()` returns `asyncio.AbstractEventLoop` object, and AsyncioExecutor expects `asyncio._UnixSelectorEventLoop`.

type definition:

https://github.com/graphql-python/graphql-core-legacy/blob/26b0fc085170

[2020-03-23 12:47] #272 closed

[2020-03-23 14:52] KingDarBoja opened #276 "Updating mypy to 0.770 raises new errors"
If bumping mypy to `0.770`, these erros will show up:

[code]

I will address these errors in a PR.

[2020-03-23 15:18] KingDarBoja commented on #276
@Cito Those errors seem to be cause by the use of `type` as function argument (`__init__`) which confuses mypy with the builtin `type`. Renaming to `_type` solves this.

[2020-03-23 15:46] Cito commented on #276
In core I'm using `type_` in such cases, and a prefix like `_type` to denote an unused argument. I think it's ok to rename this and make v2 and v3 more similar in that regard.

[2020-03-23 21:10] #250 closed

[2020-03-24 21:11] Cito commented on #83
Ok, now your issue is clear. Sorry for not reading your original question carefully enough.

Possible solutions: 1) We could change the parser to always return sorted arguments as you suggested. However, this would deviate too much from the behavior of GraphQL.js which we want to emulate, and it could lead to surprises when arguments are expected to appear in the order of the source for one reason

[2020-05-12 10:22] blazewicz opened #279 "Plans for a release >2.3.1"
Are there any plans for a new release?

Some annoying typing issues where fixed since last release https://github.com/graphql-python/graphql-core-legacy/compare/v2.3.1...master 4 months ago. For example, following error I'm getting with mypy==0.770 is already [fixed](https://github.com/graphql-python/graphql-core-legacy/commit/f3425236d2c193037486b83674e9fdb3bf6aaf57), but awaits a release:

[code

[2020-05-12 19:09] #276 closed

[2020-05-12 22:34] Cito commented on #279
Version 2.3.2 with these fixes has been released now.

[2020-05-12 22:34] #279 closed

[2020-05-13 21:26] hspedro opened #90 "Generate schema with directive at field"
# Feature requests

Hi all, I'm trying to generate a schema that has a directive at a field:
[code]

However, I did not found a way to generate this using the library. For instance, I tried defining the `directives` attribute from `GraphQLField.ast_node` but `print_schema` did not generated field with the directive:
[code]

Output:
[code]

Is there any way to generate a schema with directive at th

[2020-05-13 21:29] hspedro commented on #90
As I was debugging, I saw that `print_field` from `print_schema.py` only writes the directive for `@deprecated`. Could it be the case of adding something to recursively parse `ast_node.directives` and add to `print_fields`? https://github.com/graphql-python/graphql-core/blob/master/src/graphql/utilities/print_schema.py#L197

[2020-05-13 22:06] Cito commented on #90
Currently, you can add custom directives only via SDL, like this:

[code]

Arguably, this is also the only case where such directives are needed. On your hand-made object types, you can simply use a `hasPermissions` function in your resolvers instead of using directives.

There are long discussions about this in JavaScript land e.g. [here](https://github.com/graphql/graphql-js/issues/1262) and [he

[2020-05-14 20:23] rafalp opened #91 "Possible cache_key collision within collect_subfields"
Today I've noticed `apollo-client` displaying warnings in console about queried fields missing from server's response:

<img width="190" alt="Zrzut ekranu 2020-05-14 o 21 28 10" src="https://user-images.githubusercontent.com/750553/81979912-041ea280-962e-11ea-9c81-616244f66dca.png">

At first I've thought that there's something wrong with Apollo client mistaking between fragments, but I've investi

[2020-05-14 20:43] rafalp commented on #91
I have removed fragments from my query, replacing those with fields verbatim, but the error is still occurring. So it seems that its not a problem that fragments are used, but that there are multiple fields within query returning same type (in this case, `Category`).

[2020-05-14 21:49] Cito commented on #91
Which version of graphql-core are you using? And what do you use for serving the responses?

[2020-05-14 21:51] rafalp commented on #91
Its GraphQL Core 3.0.4 on Uvicorn (ASGI)

[2020-05-14 22:06] Cito commented on #91
Can you post a simpler test case that allows me to reproduce the bug using only graphql-core, not other components such as Uvicorn or apollo-client?

[2020-05-15 00:11] rafalp commented on #91
I've poked around the code within the `execute` and verified that indeed there's a possible race condition in which `collect_subfields` constructs same `cache_key` for both `query.category` and `query.threads.items.*.category` paths, leading to invalid result being reused.

I'll see over the weekend how to create limited repro example to cause cache key collision.

[2020-05-15 08:43] Cito commented on #91
Thank you. Yes, that caching mechanism might have something to do with it. I will certainly look into this after you posted your example.

[2020-05-16 19:55] rafalp commented on #91
I don't have a repro, but I've modified query executor to print `id(field_nodes)` as soon as this value is retrieved from the `fields.items()`. Here's one such example:

[code]

I've found that randomly different `field_nodes` objects would end up with same `id()` value as `query.category`:

[code]

This was surprising but its to be expected according to [the docs](https://docs.python.org/3/librar

[2020-05-16 21:35] Cito commented on #91
@rafalp You're probably right, and this could explain your observation and why it is hard to reproduce. I will investigate that caching mechanism more closely tomorrow and implement it in a safer way. Thanks for reporting and helping with this!

[2020-05-17 18:42] Cito commented on #91
@rafal Just looked into that a bit closer.

Your analysis is correct, the problem was in fact using the id of the list of field nodes as cache key. This is actually problematic in two ways: First, the cache is not hit when a different list of the same nodes is used as input, which may happen in practice (there are such cases in the test suite), which makes it less effective (not much, but measurab

[2020-05-17 22:17] rafalp commented on #91
I've tested your change locally and I can confirm that even when `id()` returned for `field_nodes` is same, cache collision no longer occurs and and both fields return valid subsets. 👍

[2020-05-17 22:27] Cito commented on #91
Great, thank you! Will try to publish bugfix releases for the 3.0.x and 3.1.x branches tomorrow evening.

[2020-05-18 19:31] rafalp opened #93 "`GraphQLScalarType.parse_literal` is called with two arguments instead of one when Query variables are present."
It has been reported to us that when custom scalar with `parse_literal` is given literal value in query that has been called with variables, function passed to `parse_literal` will be called with two arguments instead of one: `ast` of literal and dict with query variables:

[code]

This produces tricky to debug error, eg.:

[code]

However actual error is `TypeError` for function being called with

[2020-05-18 20:02] Cito commented on #91
Ok, 3.0.5 and 3.1.1 with this fix are released now.

[2020-05-18 20:02] #91 closed, assigned to nobody

[2020-05-20 17:18] Cito commented on #93
That `variables` parameter is intended, it exists since GraphQL.js v0.12. So I think the GraphQL.js documentation is outdated and I have just [reported](https://github.com/graphql/graphql-js/issues/2567) this. Maybe we should do something about the misleading error message nevertheless.

[2020-05-20 18:29] Cito commented on #93
The problem at runtime is that `value_from_ast` catches all exceptions from `parse_literal` and maps them to `Undefined`, i.e. it does not discern between exceptions raised inside the method and those caused by a wrong signature. But I don't know any simple way of discerning these. If you have an idea, let me know.

I have tried to mitigate the problem by adding better type hints in 0f81d955d6eeb8

[2020-05-28 15:11] jnak opened #94 "Allow caching of parsing requests"
Hi,

Currently there is no way to cache the parsing of the queries because `graphql_impl` only [accepts queries as strings](https://github.com/graphql-python/graphql-core/blob/6687b168b82e6c1722bb9748430f8785cabe46f5/src/graphql/graphql.py#L152). While we probably don't want to bring back the concept of `backend` from GraphQL V2, we could simply extend `graphql_impl` to take a query string or a pa

[2020-05-28 17:45] jnak commented on #94
Just saw [your reply](https://github.com/graphql-python/graphql-server-core/issues/43#issuecomment-635493086) in the other thread. Makes a lot of sense. I didn't realize `execute` was considered a public function. Thanks!

[2020-05-28 17:45] #94 closed, assigned to nobody

[2020-05-28 18:54] Cito commented on #94
Yes, the `execute()` function and the functions for parsing and validating queries are all public and part of the official API.

[2020-05-29 00:50] Ambro17 opened #95 "Implement specifiedBy directive merged into graphql-js"
As per issue [#649](https://github.com/graphql/graphql-spec/pull/649) and the [merged pr](https://github.com/graphql/graphql-js/pull/2276) the reference implementation now includes a new directive.
I understand that this lib is intended as a 1 to 1 port to graphql-js so perhaps we should consider including it.
If not possible, we should document the divergence

[2020-05-29 11:03] Cito commented on #95
This has already been included in 9228af4dfba79d14bb06da0666a2ab66f7fd7b95 and will be available soon with the next release.

[2020-05-29 11:03] #95 closed, assigned to nobody

[2020-05-29 14:30] Ambro17 commented on #95
Thank you!

[2020-06-08 15:57] LWprogramming opened #96 "Change special return value for REMOVE"
The `visitor.py` file sets the special value [`REMOVE` to `Ellipsis`](https://github.com/graphql-python/graphql-core/blob/master/src/graphql/language/visitor.py#L34). However, this causes trouble with type-hinting functions that return REMOVE. Could we create a separate value rather than using `Ellipsis`? See the [issues linked here](https://github.com/kensho-technologies/graphql-compiler/pull/834

[2020-06-08 16:45] Cito commented on #96
Maybe we should create an enum `VisitorAction` containing these four special values, and set `REMOVE` to `VisitorAction.REMOVE` etc. Then adding type hints would be even easier. For backward compatibility, the visitor could still recognize the other special values like `Ellipsis`.

Would that solve the problem?

[2020-06-08 17:44] LWprogramming commented on #96
That would work! Arguably it would work even better because we wouldn't need to update the type-hint every time we have a visitor function return a different special value.

[2020-06-11 06:15] ckristhoff opened #97 "Disable suggestion "Remove Did you mean...""
Hi
When you post an query with syntax errors graphql/graphene makes suggestions to you. By example, sending "i", it suggest "ID".
[code]
[code]

Can suggestions be disabled?

More info:
Syntax analysis who add suggestions is executed before the middlewares.
Apparently suggestions are made by [ScalarLeafsRule](https://github.com/graphql-python/graphql-core/blob/master/src/graphql/validation/rules/s

[2020-06-11 08:49] Cito commented on #97
There's no official way to switch them off. You could of course monkey patch the function that creates them (to remove them generally) or use custom validation rules (replacing ScalarLeafsRule) or filter them out. But why would you want to do that?

[2020-06-11 16:54] ckristhoff commented on #97
Hello @Cito
thanks for your answer. My customer requires disable it and the introspection query because they watch this like as security vulnerability. I already disable the introspection query using a middleware.

[2020-06-11 18:42] Cito commented on #97
Ok, if you want to keep it closed and also disable introspection it makes a little more sense. I suggest you simply set `graphql.pyutils.did_you_mean.MAX_LENGTH = 0`. I just commited a small change ffdf1b3702505cbcfd9fca7d6bde191e7d3f5e47 that makes this work a bit better.

You can also ask over at [https://github.com/graphql/graphql-js/issues](graphql-js) if they want to add some functionality to

[2020-06-11 20:59] ckristhoff commented on #97
@Cito you'r awesome
`graphql.pyutils.did_you_mean.MAX_LENGTH` can be setted from django? or directly from graphql-python source code?.

[2020-06-11 22:43] Cito commented on #97
Sorry, since the function has the same name as the module, you need to set it like this:
[code]
This must be run once in your Python interpreter before you start the the GraphQL server. In Django you should probably put this in the `__init__.py` file of your app.

[2020-06-12 04:30] ckristhoff commented on #97
It works really well in graphql-core 3. Any suggestion for 2.3.2 (legacy) version?
2.3.2 version doesn't have did_you_mean module.  😕

[2020-06-12 05:43] ckristhoff commented on #97
Possible solution for legacy 2.3.2 version.

Ok, in legacy version source code I found the `FieldsOnCorrectType` validator rule. It crafts the error message with the suggestion. So my current solution is:

[code]
this solution replaces the functions which generate the suggestions. In Django, this can placed in settings file.

What do you think about this solution?

More info: Use the same process

[2020-06-12 10:23] Cito commented on #97
Yes, it's more difficult in the legacy version because it does not have one dedicated function to produce these message. The simplest way here is to monkey-patch the individual functions for creating the messages; you need to do that with `fields_on_correct_type._undefined_field_message`,  `known_type_names._unknown_type_message`, `known_argument_names._unknown_arg_message` and `known_argument_nam

[2020-06-12 16:12] ckristhoff commented on #97
Thank you so much @Cito you are awesome! 🥇

[2020-06-12 21:47] #97 closed, assigned to nobody

[2020-06-14 22:42] rafalp commented on #93
I've did some experimenting with this and found that `literal_parser` is called two times. First time its called without `variables`, and if it raises error, this error points to location in query. Second time its called with `variables` (but those are already parsed values), and if it errors, it points to field in query that failed.

Could you please explain this behaviour? I'm updating Ariadne's

[2020-06-15 14:19] Cito commented on #93
The first time the `parse_literal` function is called happens during validation when the `ValueOfCorrectType` validator is executed. The whole validation is based on the document alone, the variable values are disregarded by the validator, and therefore are not passed to the function.

The second time the `parse_literal` function is called happens when the query is actually executed. This time the

[2020-06-16 12:20] Cito commented on #93
I have now created [graphql-js#2657](https://github.com/graphql/graphql-js/issues/2657) to clarify this issue.

[2020-06-25 20:32] LWprogramming opened #98 "AST node type annotations vs. GraphQL spec"
Some AST node types, such as the [`UnionTypeDefinitionNode`](https://github.com/graphql-python/graphql-core/blob/85635a2a1d170d0fcf208db614c2816cf8852db6/src/graphql/language/ast.py#L550) and the `EnumTypeDefinitionNode`, have annotations that say their fields/values are optional. For instance, `UnionTypeDefinitionNode` has an optional frozenlist for the types that the union contains. However, acc

[2020-06-25 21:56] Cito commented on #98
Good question, @LWprogramming. The simple answer is that GraphQL-core is just a port of GraphQL.js where these are defined as optional in Flow and TypeScript. But the reason for that is not obvious to me either.

Generally, the Node types are more relaxed because you want to be able to parse invalid documents, and then let the validator complain about violation of the specs. So the parser would pa

[2020-06-26 22:35] Cito commented on #96
I have implemented this in the master branch now.

[2020-07-01 19:55] Cito opened #99 "Make use of TypedDict"
We could make use of [TypedDict](https://www.python.org/dev/peps/pep-0589/) in several places, for instance as return value of  `to_kwargs` and `introspection_from_schema`.

Unfortunately, this needs Python 3.8, but we are currently supporting Python 3.6. However, it should be possible to add `typing_extensions` as additional dependency for Python 3.6 and 3.7 to support TypedDict for these Python

[2020-07-05 14:08] Cito commented on #98
After discussion there, the questions above can be answered as follows:
* Uniqueness and not-emptyness is in fact checked in `type.validate_schema()`, but this is only happens when a schema is executed via `graphql()` or `graphql_sync()`. This will probably changed in future versions of GraphQL.js, separating schema validation from query execution.
* The arrays have been made optional in GraphQL.j

[2020-07-05 14:08] #98 closed, assigned to nobody

[2020-07-05 14:13] #96 closed, assigned to nobody

[2020-07-05 16:15] Cito commented on #93
To sum up the current state: The `variables` parameter is in fact needed to support complex scalar types. The problem that it is not passed during validation seems to be a oversight and should be fixed in GraphQL.js. For compatibility sake, I did not change the behavior. I have added a `test_custom_scalar` test module to demonstrate the usage of the parameter. This will be hopefully improved in Gr

[2020-07-05 16:15] #93 closed, assigned to nobody

[2020-07-05 16:17] #90 closed, assigned to nobody

[2020-07-05 16:21] rafalp commented on #93
Makes sense. Thanks for investigating this!

[2020-07-07 14:20] pmantica1 opened #100 "Issues using a deep-copied GraphQLSchema"
To make our tests in the GraphQL compiler library run faster, we wanted to parse and build our test schema once and have each test case use a deep copied version of our test schema. We want each test to use their own deep-copied schema so that accidental schema modifications in one test case wouldn't affect the results of another test case.
https://github.com/kensho-technologies/graphql-compiler/p

[2020-07-07 17:06] Cito commented on #100
Thanks for bringing this up. I will definitely look into this when I find some time.

[2020-07-08 10:46] GinTR1k opened #280 "Exceptions in subscriptions is not logging"
Hello!

I've just found that exceptions in subscriptions is not logging, but the message of an exceptions returns to client.

[code]

Request:
[code]

Response:
[code]

Logs:
[code]

Also i've found exception handler, in which need to log the exception.
`graphql/execution/executors/asyncio_utils.py:28`

[2020-07-08 11:18] shalakhin commented on #280
@Cito could you add this as we also need that thing to be fixed

[2020-07-10 09:09] GinTR1k commented on #280
@syrusakbary
@jhgg
@dittos

[2020-07-14 04:14] KingDarBoja commented on #99
Started to use `TypedDict` on **graphql-server-core**, those are awesome to work with and the `typing_extensions` does the job to bring backward compatibility to Python 3.6 and 3.7. Only thing that you must be aware is that you must provide all values to any TypeDict declaration as those doesn't support default values on class definition as far as I know.

[2020-08-06 19:02] lonerz opened #101 "Slow introspection query execution for large schemas"
The graphql-core `graphql_sync` function takes approximately 20x slower than a module that I wrote that solely executes the introspection query. https://github.com/kensho-technologies/graphql-compiler/blob/main/graphql_compiler/fast_introspection.py

With the graphql-core Python library, executing the default introspection query (outputted from `get_introspection_query`) on a schema of around ten

[2020-08-06 22:12] Cito commented on #101
@lonerz Thanks for the feedback. Did you try this with the latest version of GraphQL-core? Does your repo contain a benchmark that we can use as a starting point when working on this issue?

[2020-08-07 04:22] jstlaurent opened #102 "Let default_field_resolver check "typing.Mapping" instead of the more restrictive "dict""
# Feature requests

The current `default_field_resolver` checks against instances of `dict` specifically to decide whether to use `get` or `getattr` to access the field on the `source`. Checking against [typing.Mapping](https://docs.python.org/3.6/library/typing.html#typing.Mapping) would be more flexible, allowing, for example, a [ChainMap](https://docs.python.org/3/library/collections.html#colle

[2020-08-07 08:47] Cito commented on #102
Sounds like a good idea. But we need to explore these questions:
* Maybe we should check against `collections.abc.Mapping` instead? What are the pros/cons?
* Performance implications: A quick test showed that using `collections.abc.Mapping` is ~ 6x slower, `typing.Mapping` is ~ 14x slower than using `dict`. This may be problematic, since the checks happen so frequently.

[2020-08-07 15:09] jstlaurent commented on #102
Those are very good questions. Thank you for testing the performance. I wonder if there is a good way to benchmark the impact on the whole process of resolving an object structure.

[2020-08-07 20:04] lonerz commented on #101
@Cito thanks for the quick reply! Yes, we are using the latest version of GraphQL-core. We can't share our schema explicitly, but I wrote a script that creates a schema with 5000 types that have 100 int fields each: https://gist.github.com/lonerz/034acc29080d057b7a990a22732aafb4

My module takes 2.7 seconds to introspect this schema whereas GraphQL-core takes 40 seconds.

[2020-08-08 12:28] Cito commented on #101
@lonerz The following function can be used to build your test schema:
[code]
Introspecting this schema takes about 25s on my computer, while introspecting the same schema with GraphQL.js takes only about 3.3s. This is very similar to what you measured. Interestingly, when I run the same code with PyPy 3.6, it only takes about 4s. This is faster than the average speedup you would expect when using

[2020-08-08 12:39] Cito commented on #101
Btw, introspection performance can also be measured as follows. This uses the github schema which is a more realistic example:

    pytest --benchmark-enable tests/benchmarks/test_introspection_from_schema.py

[2020-08-08 14:07] Cito commented on #102
It is hardly measurable with our standard benchmarks and probably doesn't matter much in real life as well.

So I've implemented this now and added a test using ChainMap. I've used abc.collections.Mapping because typing.Mapping is intended to be used for type checking, not for runtime checks, and more or less only proxies the checks anyway.

Will be available in the next release.

[2020-08-08 14:07] #102 closed, assigned to nobody

[2020-08-08 16:44] lonerz commented on #101
Interesting that the speedup is that large with PyPy 3.6. I myself profiled the GraphQL execution code, but also couldn't come up with any obvious bottlenecks. Hopefully others can look at this and thanks @Cito for your time digging into this!

[2020-08-10 02:41] jstlaurent commented on #102
Thank you very much!

[2020-08-24 00:37] berekuk opened #104 "Duplicate documentation on readthedocs"
Significant parts of the [reference documentation](https://graphql-core-3.readthedocs.io/en/latest/modules/graphql.html) on readthedocs.io appear to be generated twice.

In the top-level reference it's the documentation for graphql.graphql and graphql.graphql_sync (first at the beginning and then at the end in "Top-Level Functions" section).

On some sub-package pages everything is repeated twice,

[2020-08-28 14:56] berekuk opened #105 "GraphQLUnionType documentation is incorrect"
GraphQLUnionType currently gives the following example of its usage:

[code]

I believe this documentation is incorrect; `PetType()` can't be instantiated since GraphQLUnionType's `__init__` takes name and types as required parameters.

Calling `PetType(name=PetType.name, ...)` is obviously terrible, and implementing an empty `__init__` which doesn't call `super()` feels unsafe.

Also, even if the

[2020-08-28 17:05] Cito commented on #105
You're right, the docstring is obviously incorrect - thanks for reporting. I commited a fix with hopefully proper example code now.

[2020-08-28 17:05] #105 closed, assigned to nobody

[2020-08-29 23:52] Cito commented on #104
I have fixed this now, thanks for reporting. After upgrading Sphinx and adding some helper functionality to autodoc, the reference links should work much better now, too. You may need to reload the pages on Read the Docs in your browser.

Let me know if you still find any issues with the documentation.

[2020-08-30 00:04] berekuk commented on #104
It looks correct now, thanks!

[2020-08-30 00:04] #104 closed, assigned to nobody

[2020-09-04 15:14] Checho3388 opened #106 "GraphQLError double wrapping returning result"
I found out something confusing and wanted to know if maybe this could be a bug or if I'm missing something and this is an expected behavior.

This is my `example.py` file. It only has one resolver that raises an error.

[code]

I'm aware that `result.errors[0]` is a `GraphQLError` exception. But, I was expecting `result.errors[0].original_error` to be `ValueError`.

However, I can see that `resul

[2020-09-04 21:54] Cito commented on #106
Thanks you for reporting this, @Checho3388.

The reason for the double-wrapping is that GraphQL-core wraps the ValueError into a GraphQLError in the method `resolve_field_value_or_error()` and then wraps that in a `located_error` again in the method `handle_field_error()`.

The problem is with the first wrapping. GraphQL-core simply tries to do too much here. I think the idea was to mimic the `asE

[2020-09-05 09:09] #106 closed, assigned to Cito

[2020-09-07 11:33] Checho3388 commented on #106
Glad to know it was fixed. Thanks for your quick response!

[2020-09-07 17:37] Cito opened #107 "Adding an extension field to the ExecutionResult"
In GraphQL.js > 15.1.0 the `ExecutionResult` now has an optional `extensions` field, and I wonder how this should be best implemented in Python.

So far, `ExtensionResult` has been a named tuple with the two fields `data` and `error`. Should we now:

* add a third field `extensions` to the named tuple?
* or rather use a data class for `ExtensionResult` instead of a named tuple?

A problem with the

[2020-09-07 17:39] syrusakbary commented on #107
In Graphene we are using a dataclass port when used in Python < 3.6.
What about going with choice 2, but with a backport for older Python versions?

I think w can still allow unpacking the way we were doing before

[code]

[2020-09-07 17:44] Cito commented on #107
I'm also leaning towards that solution. To allow the unpacking, we would need to make it appear like an iterable with 2 elements, right? It would be possible, but it feels a bit strange to return 2 elements, while astuple() would return 3. But maybe it's ok for the sake of simplicity and backward compatibility.

[2020-09-07 17:53] Cito commented on #107
Follow-up questions if we use a data class:
* Should we make it immutable (frozen=True) and use `__slots__`?
* Should we set compare=True and hash=True include for `extensions`?

[2020-09-08 22:22] KingDarBoja commented on #107
Would be good to link where `ExtensionResult` is located at the source implementation, as I have no idea what does this new `extensions` field to give my opinion about how it should be implemented :)

**EDIT 1** Looks like it is mentioned on the spec doc https://spec.graphql.org/draft/#sec-Response-Format
**EDIT 2** Found it: https://github.com/graphql/graphql-js/blob/master/src/execution/execute.

[2020-09-10 16:49] Cito commented on #107
@KingDarBoja, yes that's the right location and passage in the specs.

I have converted it to a class now that can be unpacked and compared as a 2-tuple and a dict. I did not use a dataclass decorator, since the methods had to be created manually anyway to achieve that backward compatibility. Also dataclasses do not support slots when they have default elements. After this change. the full test su

[2020-09-10 16:49] #107 closed, assigned to Cito

[2020-09-15 08:38] WincerChan opened #283 "Some troubles using AsyncioExecutor and gunicorn"
Hello!

My web app has many api (not only have graphql, but also some rest-api), I am using graphql-core 2.3.2 provided AsyncioExecutor as Executor, and use Gunicorn as WSGI server in production.

The problem is when broswer send some requests concurrently , AsyncioExecutor will raise a error: `RuntimeError: This event loop is already running`.

After my debugging, I found that it was because [Asy

[2020-09-29 12:17] pfreixes opened #109 "Multiple opearations fail together when response is none nullable"
# Input
I was providing the following GraphQL schema input to one of our services, which asked for executing a list of mutations as can bee seen in the following snippet

[code]

# Expected Output
Once this input was provided and having one the mutations failing, in the example presented the one named `third`, I would expect the following output - `third` key is not present as part of the `data` k

[2020-10-01 16:04] Cito commented on #109
Thanks for the detailed report, @pfreixes.

In your example, it does not matter that these are mutations and take arguments, the same problem exists with simple queries.

You already mentioned the crucial thing here, namely that in your schema, "third" returns a non-null type. If it would return a nullable type, it would behave as you expected.

This behavior looks a bit astonishing and unhelpful,

[2020-10-17 15:16] Ambro17 opened #110 "[Question] Why are enum values accepted when passed as variables but not in query strings?"
## Intro
I have a doubt about a current implementation choice of graphql over http.

## Problem
Enum values are not accepted when passed along the query. But they _are_ accepted when parametrized and passed as `variables`

## Example
This doesn't work
[code]
Assuming `enum_arg` has an graphql enum type and `ENUM_VALUE` is a valide `Enum.name` for the given python `Enum` sublcass.

But this apparen

[2020-10-17 15:33] Ambro17 commented on #110
Just got an answer.. passing `ENUM_VALUE` instead of `"ENUM_VALUE"` works. 😅.
Closing the issue

[2020-10-17 15:33] #110 closed, assigned to nobody

[2020-10-19 06:49] charmasaur opened #111 "Default enum values ignored when parsing a schema"
The following code:
[code]
produces `None`.

I guess I'm not really sure what it *should* be returning, but I think `"DEFAULT"` would be more appropriate than `None`.

[2020-10-20 04:59] corydolphin opened #112 "Cannot unpickle DocumentNode"
# Reporting issues with GraphQL-core 3

Unpickling of DocumentNode(s) fail since unpickling a `FrozenList` fails. I believe the root issue is that List is extended, and pickle assumes it may call append, resulting in a `FrozenError`.

[2020-10-20 17:41] Cito commented on #112
Hm. This is not nice.

Actually I think it was a mistake to use a FrozenList runtime type for these attributes. It would have been better to use FrozenList as a protocol only. I had so far shied away from using protocols because they were introduced in Py 3.8 only. But I think we can import typing_extensions for older Python version.

Will try to work on it this week.

[2020-10-20 18:41] corydolphin commented on #112
Thanks for the quick response!

If the goal is only to have a protocol, we can use sequence (which is
immutable) and a Mapping (also immutable) types, which have the added
benefit of being covariant.

I expect these types were not intentionally part of the public API, but
arguably leaked. I can make the types as deprecated but retain them in case
anyone was invoking them directly, or remove them.

[2020-10-20 19:35] Cito commented on #111
Thanks for reporting. It boils down to this.

[code]

So, it looks like the internal values of the enum types created from SDL are set to `None`.

I agree they should better be the same as the names.

[2020-10-20 19:38] #111 closed, assigned to Cito

[2020-10-20 19:54] Cito commented on #112
Good point. You're right, Mapping is immutable already. So Sequence and Mapping look like the proper types to use where I currently use FrozenList and FrozenDict.

I think we should show a deprecation warning when somebody imports the FrozenList or FrozenDict modules telling them to use List/Sequence or Dict/Mapping instead, and then eventually remove these modules.

If you like, you can send a PR

[2020-10-20 21:47] charmasaur commented on #111
Thanks for the quick fix!

[2020-11-07 13:33] Cito commented on #112
@corydolphin I like to move this forward, but I have limited time, so I would be glad if you or anybody else could help.

The first thing we need is a test that makes sure that document asts can be properly pickled and unpickled. So I added this at the bottom of  `test_schema_parser.py`:

[code]

This test fails due to the `FrozenError` issue and passes if we replace the FrozenLists with an ordina

[2020-11-09 17:27] alexchamberlain opened #116 "Performance of validate, in the context of graphql(_sync)"
I've benchmarked a few of our use cases and up to 85% of the runtime is in `validation.validate`; as far as I can tell, there's been no discussion of this on Issues, so I thought I'd open an issue to see if this is a known issue?

I'll follow up with a PR that demonstrates the issue and has some improvements, but won't be production quality at this stage.

[2020-11-09 17:59] Cito commented on #116
Hi @alexchamberlain. Not sure if we have explicitly discussed this already. One issue is always when and how to avoid the validation step and not validating the same query multiple times (#70 is related to that).

I'm glad about PRs that try to improve performance. However, the code should not deviate too much from the original code in GraphQL.js since this will make it difficult to merge future c

[2020-11-09 18:05] alexchamberlain commented on #116
Thanks @Cito

I've opened #117 with the benchmark script I used. The main change is to memoise the lookup of visit functions, which is more of a Python optimisation I think?

[2020-11-09 18:08] Cito commented on #116
Thanks. I will look into this if I find some time. Please note that there are already some benchmark scripts. It would make sense to add another benchmark that explicitly focuses on validation then.

[2020-11-09 18:10] alexchamberlain commented on #116
Ah, sorry - I completely missed that! I can look to refactor my benchmarks there if you like?

[2021-01-20 00:18] nchepanov opened #118 "Correct `pyproject.toml` build-backend specification"
Currently:

https://github.com/graphql-python/graphql-core/blob/7d826f0ec0a447cb869dfb891a755dbe8ea9b66f/pyproject.toml#L54-L56

According to https://python-poetry.org/docs/pyproject/#poetry-and-pep-517

Should be updated  to,

[code]

This will significantly speed up the package installation process, since the entire `poetry` dependency cone is currently being installed during isolated build per

[2021-01-22 16:02] wangwalton opened #119 "Save schema to a file"
Hi is this currently possible? Can I access a serialized string of the schema in GraphQL SDL?

[2021-01-22 17:48] Cito commented on #119
Try `utilities.print_schema()`.

[2021-01-22 17:54] wangwalton commented on #119
Works great, thanks!

[2021-01-22 18:15] #119 closed, assigned to nobody

[2021-01-23 15:38] KingDarBoja commented on #118
Good catch, feel free to submit a PR 🚀

[2021-02-03 20:29] patrick91 commented on #106
@Cito was this ever released? I'm encountering the same issue :)

[2021-02-03 20:36] Cito commented on #106
@patrick91 Not yet, sorry. Will try to work on a new release this weekend.

[2021-02-03 20:37] patrick91 commented on #106
@Cito awesome, thanks for the prompt response, let me know if you need help :)

[2021-02-07 23:13] Cito commented on #100
Turned out to be a bit complicated, but I think it is now solved in 8c053a3d12558aafc3540a00336f5b6d13fd2e6c.

Will be available in the upcoming release (soon).

[2021-02-07 23:13] #100 closed, assigned to Cito

[2021-02-07 23:41] Cito commented on #118
Thanks for reporting. This was fixed in add666f36116e1bde1eba3d54e7ac8ecc64a5420 and will be available in the upcoming release (soon).

[2021-02-07 23:41] #118 closed, assigned to nobody

[2021-02-08 19:43] Cito commented on #118
[Version 3.1.3](https://github.com/graphql-python/graphql-core/releases/tag/v3.1.3) with this fix has now been released.

[2021-02-08 19:43] Cito commented on #100
[Version 3.1.3](https://github.com/graphql-python/graphql-core/releases/tag/v3.1.3) with this fix has now been released.

[2021-02-08 19:44] Cito commented on #106
[Version 3.1.3](https://github.com/graphql-python/graphql-core/releases/tag/v3.1.3) with this fix has now been released.

[2021-02-25 17:26] DeanArbel opened #120 "Parser raises an error for null Boolean Type"
Following a [commit](https://github.com/octokit/graphql-schema/commit/18c40d2bb68d8f27acfc62e768d34aadfca9e8b2#diff-9fcde326d127f74194f70e563bdf2c118c51b719c308f015b8eb0204a9a552fb) GitHub introduced to their schema yesterday `gql` can no longer parse its schema, as it fails on this `null` `Boolean` type:

[code]

GitHub claims this change is in accordance with the [GraphQL standards documentation

[2021-02-25 21:41] Cito commented on #120
Is this a gql or graphql-core issue? Where is that code you've posted above? Better post links than screenshots.

[2021-02-28 06:45] DeanArbel commented on #120
@Cito Hey, I opened the issue here per the advice of @leszekhanusz from the `gql` team, but I can now see that this issue originates in `graphql-core-legacy`: https://github.com/graphql-python/graphql-core-legacy/blob/master/graphql/language/parser.py#L502.

[2021-02-28 06:45] #120 closed, assigned to nobody

[2021-02-28 06:50] DeanArbel opened #285 "Parser raises an error for null Boolean Type"
The parser is not able to handle boolean types with `null` default type.

This is handled in this line: https://github.com/graphql-python/graphql-core-legacy/blob/master/graphql/language/parser.py#L502

Following a [commit](https://github.com/octokit/graphql-schema/commit/18c40d2bb68d8f27acfc62e768d34aadfca9e8b2#diff-9fcde326d127f74194f70e563bdf2c118c51b719c308f015b8eb0204a9a552fb) GitHub introduc

[2021-02-28 13:16] Cito commented on #120
@DeanArbel  The current version of `gql` uses GraphQL-core 3, so this should be no issue there.

[2021-02-28 23:32] mecampbellsoup opened #121 "Cannot use AsyncioExecutor"
The [Starlette docs](https://www.starlette.io/graphql/#sync-or-async-executors) indicate that I should import an "async executor" a la:

[code]

However this module `graphql.execution.executors` no longer seems to exist in `graphql-core` versions > 3.

How should one go about using `graphql-core` now (i.e. version 3+) with async executors? Or should I just use the [`core-legacy`](https://github.co

[2021-03-01 00:31] Cito commented on #121
You should ask about this in the Starlette project. It seems Starlette supports only Graphene 2 which means GraphQL-Core 2 (legacy, not supported any more). The GraphQLApp class seems to be deprecated inside Starlette also.

The current GraphQL-core does not have have executors and uses async execution by default.

[2021-03-02 22:29] rafalp opened #122 "When enum is used as argument, its default value is not validated against enum definition"
Hello!

While working on enum support in Ariadne I've found that enums values aren't validated against GraphQL enum when they are defined as fields on GraphQL schema.

Following schema passes validation:

[code]

I would've expected schema validators to raise `INVALID`, but instead those fields are quietly excluded from default value passed to field's resolver.

[2021-03-03 18:00] Cito commented on #122
Thanks for reporting. GraphQL.js behaves the same, so I passed this question on.

[2021-03-10 20:29] Jamie-Chang opened #123 "Support for AsyncIterable resolvers"
Currently async resolvers for arrays are async functions that return an iterable.

There seem to be a lack for support for resolvers that return an AsyncIterable. For example, using motor to query a mongo collection:
[code]
Of course, a work around would be to fetch all documents first, but supporting the async iterator / generator would be a much nicer way to do it.

[2021-03-18 19:38] LWprogramming opened #124 "Recursively finding implemented interfaces"
Given a GraphQL schema with interface types and types that implement interfaces, it's possible to have a "chain" of implementations. For instance, a schema might have an interface `Entity` implemented by the interface `LivingEntity`, which is then implemented by the interface `Animal`, which is in turn implemented by the object type `Dog`.

Given the `ObjectTypeDefinitionNode` for `Dog` in the sch

[2021-03-19 12:46] Cito commented on #124
As you already noticed, the `interfaces` attribute of the node gives you the `NamedTypeNodes` in the SDL, corresponding to the name list after the "implements" keyword. To find the corresponding interface definitions, you need to look them up in the `definitions` list of the document. E.g.

[code]

When implementing a validation rule visitor, you can use the validation context to access the defini

[2021-03-19 15:50] LWprogramming commented on #124
Thanks! The definitions field is exactly what I was looking for. It seems like this doesn't have a comment attached to it in [read-the-docs](https://graphql-core-3.readthedocs.io/en/latest/modules/language.html?highlight=definitions#graphql.language.DocumentNode.definitions)-- do we expect this field to stay around long-term? If so, I'd be happy to open a short PR describing what it does.

[2021-03-19 16:31] Cito commented on #124
The node attributes in GraphQL-core mimic the node properties in GraphQL.js. As far as I see, these properties are part of the external interface of GraphQL.js, so I don't expect them to change (but you can ask the GraphQL.js project to be sure). They generally do not have docstrings, since in GraphQL.js they are also not documented. I would not want to start adding a docstring here for a single a

[2021-03-29 11:15] the-papi opened #125 "The same directive on the same enum value in multiple enums causes TypeError"
When i try to define several different enums that share some of their values with the same directives, then I get TypeError.

Code to reproduce:
[code]
Output:
[code]

Expected output:
[code]

I found that this bug is introduced in graphql-core 3.1.0b1 (3.1.0b0 works fine).

[2021-03-29 21:05] LWprogramming commented on #124
Got it. Thank you!

[2021-03-29 21:05] #124 closed, assigned to nobody

[2021-03-29 23:32] #125 closed, assigned to nobody

[2021-03-29 23:37] Cito commented on #125
Thanks a lot for reporting this. Should be fixed in the main branch now.

[2021-04-08 01:48] dkbarn opened #126 "Enum cannot represent value, when querying for defaultValue"
I'm using ariadne and suddenly started encountering an error from the introspection query issued by GraphQL Playground when I upgraded from ariadne 0.12.0 to 0.13.0.

I've boiled the problem down as simply as possible and actually it seems to have nothing to do with ariadne, but instead is a change in behaviour from graphql-core 3.0 -> 3.1.

The following works in graphql-core 3.0, but not in 3.1:

[2021-04-08 09:58] Cito commented on #126
Thanks for reporting. I think this is the same problem as #125, and has been fixed already in the main branch.

[2021-04-08 14:54] Cito commented on #126
Fix has now been released in v3.1.4.

[2021-04-08 14:54] #126 closed, assigned to nobody

[2021-04-08 14:55] Cito commented on #125
Fix has now been released in v3.1.4.

[2021-04-08 23:58] bnaoki commented on #126
Hi @Cito, I upgraded `graphql-core` from `v3.1.3` to `v3.1.4` just now but seem to still run into this same issue.

I have something very similar to what @dkbarn reported except that my argument is non-nullable.

[code]

Getting the following error:
[code]

FWIW, I'm also using `ariadne`.

[2021-04-09 00:34] dkbarn commented on #126
@bnaoki do you still get the error message if you completely remove ariadne from the equation? I took my code snippet above and changed the default value to be non-nullable, and the error goes away with graphql-core 3.1.4.

I think the problem might be in ariadne now. Even after upgrading to graphql-core 3.1.4, I still get the error you're seeing when I have an enum as a default argument value in

[2021-04-09 03:40] bnaoki commented on #126
Ahh, you're right. It does seem to be an issue with `ariadne`. Thanks for this info!

[2021-04-10 01:19] dkbarn opened #128 "Unicode characters get transformed into surrogate pairs by graphql.print_ast()"
I've run into an issue where serializing a GraphQL DocumentNode into a string, and then parsing that back into a DocumentNode transforms certain unicode characters into surrogate pairs, which make them no longer UTF-8 encodeable.

This code snippet demonstrates the problem:
[code]
Given the unicode character ```\U000a90e5``` which *is* UTF-8 encodeable, passing this value to a DocumentNode tree an

[2021-04-10 01:27] dkbarn commented on #128
It looks like there may be an asymmetry in the serialization / deserialization functions.

Serialization involves calling ```json.dumps```, which results in the surrogate pair:
[code]

If deserialization were to use```json.loads```, then the surrogate pair would be converted back into the original character:
[code]

[2021-04-10 19:42] Cito commented on #128
Thanks for reporting. As always, I try to compare with what GraphQL.js is doing here:

[code]

This gives: `'da64' 'dce5'`. So the value in Python is the same as in JavaScript, using surrogates.

You can avoid the UnicodeEncodeError by passing `errors="surrogatepass"` to the encode method.

But if you really think this is the wrong behavior, we should file an issue upstream to clarify and to achie

[2021-04-12 19:00] dkbarn commented on #128
I'm definitely not a unicode expert either, but having done a bit of reading up on it, and going through the graphql-spec ticket you linked, along with its links, here are my main takeaways:

- The GraphQL spec does not yet formally support unicode characters outside the Basic Multilingual Plane, as mentioned in https://github.com/graphql/graphql-spec/issues/687
- However, there *are* implementati

[2021-04-12 22:17] dkbarn commented on #128
I know that you are using GraphQL.js as your guide, so just wanted to point out that there is an outstanding PR which will add full unicode support to it as well: https://github.com/graphql/graphql-js/pull/2449

To follow suit in graphql-core I think would require a tweak to the logic in the lexer here: https://github.com/graphql-python/graphql-core/blob/main/src/graphql/language/lexer.py#L296-L30

[2021-04-13 18:04] Cito commented on #128
Thanks for these helpful remarks. When that GraphQL.js PR gets merged, I will of course happily port these changes to GraphQL-core. But this will only solve the deserialization issue. The `json.dumps` in the printer is a different issue. Again, I would prefer if we can come up with a suggestion for a change in GraphQL.js (which does exactly the same), and from there port it here.

[2021-04-14 17:41] dkbarn commented on #128
Those two tasks are alternative options, not things that would need to be done together. In other words, porting the changes from that GraphQL.js PR would add full support for the whole unicode range, and eliminate the need to make any changes to ```json.dumps``` in the printer. The validation I was suggesting in the printer was to provide more explicitly defined behaviour right now, while the ful

[2021-04-15 21:34] Cito commented on #128
Regarding your question, there are good reasons (see also "Goals and Restrictions" in the README): First, GraphQL.js was originally made by Facebook and was written by Lee Byron who is also the co-author of GraphQL. Meanwhile, it is developed as part of the GraphQL foundation. So this library is probably the closest to the specs and it is also continually updated. Second, I needed to restrict the

[2021-04-27 16:23] mlorenzana opened #129 "ExecutionResult.formatted does not format errors"
When I call formatted on an ExecutionResult, the errors portion of the dict is not formatted and instead returns a list of GraphQLErrors. GraphQLError is not serializable, but it does have a formatted property which is, why is formatted not called on the list of GraphQLErrors?

As a work around, I have to call formatted on my ExecutionResult and then rebuild the dict and format the errors:
[code]

[2021-04-27 18:58] Cito commented on #129
Thanks for reporting. I agree that it would be reasonable to return a list of formatted errors here. Will be fixed.

[2021-04-27 19:05] AlecRosenbaum commented on #129
Wouldn't any tracebacks be attached to the `GraphQLError` objects under `original_error`?

[2021-04-28 07:30] Cito commented on #129
Not in the formatted result. According to the [spec](https://spec.graphql.org/draft/#sec-Errors.Error-result-format), the formatted error only contains message, locations, path and extensions.

[2021-04-28 12:16] AlecRosenbaum commented on #129
Right, sorry let me rephrase.

If `GraphQLError`'s are automatically formatted when being put into the result, is there any way of accessing traceback data? I had thought the accepted way was by [looking at `original_error.__traceback__`](https://github.com/graphql-python/graphql-core/issues/23), which would no longer be possible if this was changed.

[2021-04-28 12:41] Cito commented on #129
Don't worry. The execution results and errors are not *automatically* formatted. We're only talking about the case when you access the `formatted` property of these objects. With other words, if you access the errors of the execution result, they will be still a list of GraphQLErrors, if you access the errors of the formatted execution result, they will be a list of formatted GraphQLErrors.

[2021-04-28 15:27] #129 closed, assigned to Cito

[2021-05-05 16:18] cancan101 opened #132 "Return Type of complete_list_value"
Any reason that the return type of `complete_list_value` is `AwaitableOrValue[Any]` rather than `AwaitableOrValue[List[Any]]`:
https://github.com/graphql-python/graphql-core/blob/c6f73a8610ea01677992943dbde736f754bba296/src/graphql/execution/execute.py#L756-L763

For comparison, `execute_fields` returns `AwaitableOrValue[Dict[str, Any]]`:
https://github.com/graphql-python/graphql-core/blob/c6f73a8

[2021-05-05 20:22] #132 closed, assigned to Cito

[2021-05-05 20:23] Cito commented on #132
Thank you, good catch! I've fixed it already.

[2021-05-05 20:25] cancan101 commented on #132
@Cito I think you also want to update the return types of `get_completed_results`, etc (the inner / helper functions).

[2021-05-05 20:41] Cito commented on #132
Yes, but only one of them needed to be changed (5bfc3a099ed21969f3d0a24c6843ae7249a82e1e). Anything else I overlooked?

[2021-05-05 20:52] cancan101 commented on #132
That looks good.

[2021-05-18 17:47] lovetoburnswhen commented on #121
FYI Starlette has deprecated built-in GraphQL support. See [#619](https://github.com/encode/starlette/issues/619)

[2021-05-25 15:15] barbieri opened #133 "print_schema doesn't support user-defined directives"
https://github.com/graphql-python/graphql-core/blob/main/src/graphql/utilities/print_schema.py#L208 is made in a way that just supports `@deprecated`, however fields may get other directives, such as validation, permissions or display hints.

This is also the case with `print_input_value` that only handles deprecated directive.

[2021-05-25 16:44] Cito commented on #133
`print_schema` should also support printing custom directives, see this [test](https://github.com/graphql-python/graphql-core/blob/ab209c49d6e350c311829ace6786fed51382166e/tests/utilities/test_print_schema.py#L560).

[2021-05-25 17:39] barbieri commented on #133
it does print the directive declaration like you pointed, but doesn't handle the usage ("on locations"). Such as types, fields, arguments, input fields...

I saw another bug like this one closed because "you just use this in your resolver", saying that the actual validation/permission checks and all should be done in field resolver -- which I totally agree. But the issue is if you parse or generat

[2021-05-25 17:58] Cito commented on #133
Are you talking about issue https://github.com/graphql-python/graphql-core/issues/90 (which is not a "bug")?

[2021-05-25 20:06] barbieri commented on #133
yes, exactly. You can call it "not a bug", but not a feature either :-D

Any reasons why this directive serialization is not a standard visitor with serialization? I understand in some cases you may want custom behavior, such as omitting the deprecated reason if it's the default reason, but at least a "fallback" to handle other cases:

[code]

I'm not familiar with all the printers already there,

[2021-05-26 07:44] Cito commented on #133
I think I explained it in #90. The declared goal and scope of this project is to be a 1:1 port of [GraphQL.js](https://github.com/graphql/graphql-js) and its API to Python, even down to the level of implementation details and tests, *and* to keep it in sync with the latest development in GraphQL.js, where they are continually moving forward: fixing bugs, adding functionality and keeping in sync wi

[2021-05-26 12:17] barbieri commented on #133
@Cito ok, I even checked GraphQL.js to see if that was really the case but yeah https://github.com/graphql/graphql-js/blob/c589c3d285cb1ec44b09bf0b50ec041ec083760c/src/utilities/printSchema.ts

I see your point, specially regarding time, I also maintain https://github.com/profusion/sgqlc and it's hard to keep up with the demand :-)

I'll fill a bug in there, meanwhile we keep going with a monkey p

[2021-05-26 12:29] barbieri commented on #133
And I saw couple of tickets, one still open, that would address that: https://github.com/graphql/graphql-js/issues/2020

If that ever gets into the GraphQL.JS, I'll ping here

[2021-05-26 12:29] #133 closed, assigned to nobody

[2021-05-31 06:28] undera opened #134 "How to unparse AST tree back to string?"
I have a need to do some manipulations on query text and it is conveniently done using AST tree. But then I need to represent the modified query back to string, for storage and logging.

I looked all over the source code and did not find a function to serialize AST back to string. Did I miss it?

If this functionality is out of scope for this repo - can you point me to the right place? Or suggest

[2021-05-31 07:38] leszekhanusz commented on #134
You can use [print_ast](https://github.com/graphql-python/graphql-core/blob/ab209c49d6e350c311829ace6786fed51382166e/src/graphql/language/printer.py#L45)

[2021-05-31 08:24] Cito commented on #134
In fact this function was missing in the reference documentation [here](https://graphql-core-3.readthedocs.io/en/latest/modules/language.html#printer).

[2021-05-31 08:24] #134 closed, assigned to nobody

[2021-05-31 08:42] undera commented on #134
Awesome!

[2021-05-31 13:13] leszekhanusz commented on #134
Also you might be interested in gql DSL module to [compose GraphQL queries dynamically from a schema](https://gql.readthedocs.io/en/v3.0.0a5/advanced/dsl_module.html#compose-queries-dynamically)

[2021-07-09 10:12] ldynia opened #135 "How to update `info.field_nodes[0].selection_set` ?"
# Context

I work with graphql in python ([graphql-core-3](https://graphql-core-3.readthedocs.io/en/latest/index.html)), and I have a GraphQL query that looks like this.

[code]
When I investigate `info` object `info.field_nodes[0].selection_set.selections` I got selection set of `FieldNodes` that looks like that:

[code]

# Problem

In my second query set I added `results` field to wrap my data.

[2021-07-09 19:09] Cito commented on #135
You just need to dig one level deeper, like `info.field_nodes[0].selection_set.selections[0].selection_set.selections`.

[2021-07-12 20:52] ldynia commented on #135
Thank @Cito you saved my day :)

By the way is there a simple way to loop down Field Nodes in python, to avoid hard coding indexes such `info.field_nodes[0].selection_set.selections[0].selection_set.selections` for below example?

[code]

[2021-07-13 10:17] ptrhck opened #136 "Replacement for ast_to_dict?"
I have been using [this](https://gist.github.com/mixxorz/dc36e180d1888629cf33#file-graphene-py-L59) function in the past, but it seems that `ast_to_dict` has been removed. Is there a replacement for `ast_to_dict` or a new function that is similiar to the one of the gist?

[2021-07-13 11:21] Cito commented on #136
That function `ast_to_dict` does not exist in GraphQL.js, but [was added](https://github.com/graphql-python/graphql-core-legacy/commit/fd83a778f173cef4502073a5cdfe7cd7526bec95) to the legacy version of GraphQL-core because it makes sense to have this (only) in Python.

So yes, might be a good idea to add this to the modern GraphQL-core as well. The function could look like this, you can use this a

[2021-07-13 11:44] Cito commented on #135
Sure, you could do something like this to get to the allLibrary.results in the first example:

[code]

The "next" function is the Pythonic way to find the first field with the specified name.

The function metioned in #136 might be also interesting to you.

Btw, for "normal usage" you don't need to inspect the AST of the query. Maybe you're overcomplicating things?

[2021-08-20 18:50] #135 closed, assigned to nobody

[2021-08-21 17:15] jkimbo opened #137 "Versioning suggestion"
Hi @Cito ! I noticed that you've started work on Graphql.js v16 (which is exciting) and I had a suggestion around the versioning of graphql-core: since each major version of graphql.js might contain breaking changes would it make sense for graphql-core to also adopt the same version numbers? So the next version of graphql-core would also be v16. That way graphql-core maintains the semver versionin

[2021-08-21 18:59] Cito commented on #137
Hi @jkimbo. Yes, I want to slowly catch up with recent development in GraphQL.js again.

I thought about SemVer as well, but then decided to stick with the current versioning scheme, because I fear changing it might confuse people. It was hard enough to make people understand the difference between GraphQL-core 2 (legacy) and GraphQL 3. Changing this again after they got accustomed to the new vers

[2021-08-22 10:08] jkimbo commented on #137
Ok thats fair enough and I can understand your reasoning. Just FYI I think we'll be changing the dependency range in Strawberry to `~3.0.0` (instead of `^3.0.0`) so that we only track patch versions automatically.

Also do you think it's worth putting a small notice in the README to let people know that the project doesn't strictly follow semver versioning?

[2021-08-22 19:16] Cito commented on #137
Right, changing the dependency version specifier that way makes sense. I have mentioned this in the README now, too.

[2021-08-22 19:16] #137 closed, assigned to nobody

[2021-09-08 07:21] aryaniyaps opened #139 "Rename project/repository"
hey there! This is a wonderful repository, and a really great reference implementation!
Here's why I think that this repository should be renamed to `graphql` or `graphql-py` instead of `graphql-core`

The current name sort of gives us a feel that it's not for the end user.
It gives us a feel that this project is only for other graphql libraries to build abstractions on top of.

in the GraphQL eco

[2021-09-12 23:36] qeternity opened #286 "Quiver source"
It seems like a lot of people (us included) will not be able to move off of core-legacy any time soon, and enjoy the fruits of native async/await. Given that Quiver seems dead, is there any chance that @syrusakbary will open source it so that we can include it as a backend and improve the performance of the core legacy library?

[2021-09-19 11:02] Cito commented on #139
Hi @codebyaryan and thanks for the feedback.

Regarding the impression that GraphQL-core is newer than Graphene, that's actually not the case. GraphQL-core had been created in 2016 by Syrus Akbari as a port of GraphQL.js and *then* he created Graphene as an (actually very thin) wrapper around it in order to make the API a bit more Pythonic and easy to use. He created several other libraries in the

[2021-09-19 11:02] #139 closed, assigned to nobody

[2021-09-22 14:25] Matt343 opened #140 "Camel to snake case conversion doesn't add an underscore after a digit"
The `pyutils.camel_to_snake` function does not add an underscore if a capital letter occurs after a non-letter character. For example, `came_to_snake("python2Thing")` returns `python2thing` instead of `python2_thing`. This seems counterintuitive, as it changes the case of the `T` without adding an underscore as usual.

[2021-09-22 16:07] Cito commented on #140
Thanks for reporting. I agree, `python2_thing` would be the expected conversion. It's also what I get when I convert it with PyCharm or Visual Studio Code.

The pyutils function currently uses the same method as [python-string-utils](https://github.com/daveoncode/python-string-utils), which has this "bug". I'll see if I can find a better way when I find some spare time. If you know any better meth

[2021-09-28 18:39] gosella commented on #140
In the past, I used this conversion function with great success:
[code]
Credits to https://stackoverflow.com/a/12867228 (last given example)

[2021-09-29 08:59] Cito commented on #140
Thanks @gosella. I solved it in a similar way by making the minimal necessary change to the existing regex so that the "python2Thing" works as expecetd. If there are edge cases where your regex works better let me know, we can always add more tests and improve.

[2021-09-29 08:59] #140 closed, assigned to Cito

[2021-10-14 18:06] jkimbo commented on #142
@Cito would you be open to splitting the ExecutionContext class into sync and async versions? That way we can drop most of the `is_awaitable` checks and simplify the code significantly.

[2021-10-15 08:50] Cito commented on #142
We should consider all options, but the API should be backward compatible, to not cause another turmoil in the GraphQL-Python ecoystem, and the code and API should not deviate too much from GraphQL.js so that it's easier to keep up with the development there.

Currently, the ExecutionContext can deal with mixed resolvers (some sync, and some async). This is similar to GraphQL.js, but it is more co

[2021-10-15 09:18] Cito opened #143 "Test and document use of GraphQL-core with uvloop"
In #141 it was discussed whether using a different event loop such as `uvloop` can speed up async use of GraphQL-core.

We should do some benchmarking and document how to replace the default event loop with a more efficient one. However, it should still be possible to use GraphQL-core as a pure-Python function, i.e. without depending on libraries that need to be compiled, such as `uvloop`.

[2021-10-15 09:31] jkimbo commented on #142
Absolutely!

Agreed. I can try and put together a PR to see how much it would improve things.

I think this already happens with the sync execution pathway but I don't think it's possible to always return True for async schema's because the default resolver is still sync.

[2021-10-15 10:29] Cito commented on #142
Good points. Regarding the default resolvers, we could either use async default resolvers in this case or we could simply make a case distinction in the async `execute_field` method when there is no field resolver, and similarly for the type resolver in `complete_abstract_value`.

[2021-11-22 14:59] sebastiandev opened #147 "Support extending interfaces"
# Reporting issues with GraphQL-core 3

The GraphQL protocol already supports interfaces extending other interfaces like
[code]

When loading the schema we get an error
[code]
This can be solved by doing
[code]
But its a bit annoying

[2021-11-22 16:51] Cito commented on #147
Hi @sebastiandev. Your example should actually work. Which version of GraphQL-core are you using and can you post the exact code that produces this error?

[2021-11-22 16:54] Cito commented on #147
Just noticed this was implemented in v3.1 only. Maybe you're still on v3.0?

[2021-11-22 19:11] sebastiandev commented on #147
I'm on 3.1.6 using Ariadne. Looks like it supports an interface implementing another, but then it shows that error message

[code]

[2021-11-23 16:45] Cito commented on #147
Hm, I still can't reproduce it with 3.1. Can you double-check the version with `print(graphql.version_info)` and post some Python code (not just SDL) that creates the error message above?

[2021-11-25 14:20] AlexCLeduc opened #148 "Support/help with promise-based resolvers"
I think I have a good use-case for non-async, promise-based resolution.

We are making django ORM from our dataloaders. We moved away from using async in django 3.0 because django would force us to isolate ORM calls and wrap them in `sync_to_async`. Instead, we ditched async and used promises with a generator based syntax. Examples below:

**What we'd like to do, but django doesn't allow**

[code]

[2021-11-25 14:54] Cito commented on #148
Since Python and its standard lib do not support promises, my first question is: What kind of promises do you have in mind? Is this something that Django provides? Or are you using the separate promise package used by Core-2?

[2021-11-25 15:09] AlexCLeduc commented on #148
Yes, we are using the promise package used by Core-2 and the dataloader class included with graphene 2.

[2021-11-25 15:53] Cito commented on #148
The problem with this is that these are legacy packages. I'm not sure how well they are maintained and I want to keep GraphQL-core simple and not in some way dependent of external non-standard packages or in the need of supporting these forever. The execution mechanism has also been completely changed and simplified, relying only on async.io, so no, it would not be easy to add the old promise supp

[2021-11-25 22:29] AlexCLeduc commented on #148
Thanks for the advice, I'll look into middleware and `execution_context_class`. I've also followed up with graphene to see if they can re-add support for promises. You can close this issue if you'd like, but it might be a good place to discuss those additional hooks, should the need arise.

[2021-11-26 07:43] jkimbo commented on #148
@Cito I think there is justification to add some kind of support for deferred functions that is not asyncio into graphql core because not all libraries are asyncio compatible yet (Django being the notable one). While it's possible to create a custom execution context class to handle Promises it's pretty fiddly and would be prone to breaking if anything changed. You can see my attempt here: https:/